
<div id="modalePseudo" class="modal centre">
  <div class="modal-background" (click)="fermerModalePseudo()"></div>
  <div><br><br><br></div>
  <div class="modal-content has-background-white">
    <!-- Pseudo -->
    <br><br>
    <h1 class="title is-2">{{pseudo}}</h1>
    <br><br>
    <!-- Boutons -->
    <div class="columns">
      <div class="column is-5 is-flex is-align-items-center is-justify-content-center">
        <button (click)="fermerModalePseudo()" class="button is-danger">Annuler</button>
      </div>
      <div class="column is-2 is-flex is-align-items-center is-justify-content-center">
        <a>
          <figure (click)="pseudo = profilService.tirerUnPseudoAleatoire(feminin)" class="image is-64x64 is-inline-block">
            <img src="assets/img/cc0/dice-svgrepo-com.svg" />
          </figure>
        </a>
      </div>
      <div class="column is-5 is-flex is-align-items-center is-justify-content-center">
        <button (click)="enregistrerPseudo()" class="button is-success">Enregistrer</button>
      </div>
    </div>
    <br><br><br>
    <!-- Paramètres -->
    <button *ngIf="feminin" type="submit" class="button is-info is-light" (click)="MAJFeminin(false)">Pseudo masculin</button>
    <button *ngIf="!feminin" class="button is-info">Pseudo masculin</button>
    &nbsp;
    <button *ngIf="!feminin" type="submit" class="button is-sponsor is-light" (click)="MAJFeminin(true)">Pseudo féminin</button>
    <button *ngIf="feminin" class="button is-sponsor">Pseudo féminin</button>
    <br><br>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="fermerModalePseudo()"></button>
</div>
