<div class="container is-max-desktop centre">
  <!-- Pseudo -->
  <div>
    <a (click)="ouvrirModale('pseudo')">
      <h1 class="title is-2 is-inline-block">{{dataService.user.pseudo}}</h1>&nbsp;
      <i class="image is-24x24 is-inline-block"><img src="assets/img/cc0/edit-svgrepo-com.svg" /></i>
    </a>
  </div>
  <!-- Avatar -->
  <div>
    <a routerLink="/profil/avatar">
      <figure class="avatar is-inline-block is-large" [style]="dataService.styleAvatar"></figure>
      <i class="image is-24x24 is-inline-block"><img src="assets/img/cc0/edit-svgrepo-com.svg" /></i>
    </a>
  </div>
  <br>
  <!-- Raccourcis -->
  <div>
    <h2 class="title">Derniers objectif et séquence visités :</h2>
  </div>
  <br>
  <div *ngIf="dataService.user.derniereSequence != '' || dataService.user.dernierObjectif != ''">
    <a *ngIf="dataService.user.derniereSequence != ''" [routerLink]="'/sequence/' + dataService.user.derniereSequence.split('!')[0]" routerLinkActive="active">
      <button [class]="'px-4 subtitle is-' + dataService.user.derniereSequence.slice(1, 2) + 'e is-rounded is-clickable'" style="line-height: 2.1; border-color: transparent;" [innerHTML]="dataService.user.derniereSequence.split('!')[1]"></button>
    </a>
    <a *ngIf="dataService.user.dernierObjectif != ''" [routerLink]="'/objectif/' + dataService.user.dernierObjectif.split('!')[0]" routerLinkActive="active">
      <br><br>
      <button [class]="'px-4 subtitle is-' + dataService.user.dernierObjectif.slice(0, 1) + 'e is-rounded is-clickable'" style="line-height: 2.1; border-color: transparent;" [innerHTML]="dataService.user.dernierObjectif.split('!')[1]"></button>
    </a>
  </div>
  <div *ngIf="dataService.user.derniereSequence != '' || dataService.user.dernierObjectif != ''"><br></div>
  <!-- Déconnexion -->
  <div *ngIf="dataService.user.lastLogin != '' && derniereConnexion != 'undefined NaN undefined NaN à NaNhNaNmin'">
    <p class="has-text-grey is-size-6">Quelqu'un s'est connecté sur ce compte le {{derniereConnexion}}.<br>
      Si cette date ne te dit rien, c'est sûrement que ton identifiant est trop facile à deviner ou que tu as oublié
      de te déconnecter et que quelqu'un d'autre l'a utilisé !</p>
    <div><br></div>
  </div>
  <button class="button is-warning" (click)="dataService.logout()">Se déconnecter</button>
</div>

<!-- Modale de création de pseudo -->
<div id="modalePseudo" class="modal centre">
  <div class="modal-background" (click)="fermerModale('pseudo')"></div>
  <div><br><br><br></div>
  <div class="modal-content has-background-white">
    <!-- Pseudo -->
    <br><br>
    <h1 class="title is-2">{{pseudo}}</h1>
    <br><br>
    <!-- Boutons -->
    <div class="columns">
      <div class="column is-5 is-flex is-align-items-center is-justify-content-center">
        <button (click)="fermerModale('pseudo')" class="button is-danger">Annuler</button>
      </div>
      <div class="column is-2 is-flex is-align-items-center is-justify-content-center">
        <a>
          <figure (click)="pseudoAleatoire()" class="image is-64x64 is-inline-block">
            <img src="assets/img/cc0/dice-svgrepo-com.svg" />
          </figure>
        </a>
      </div>
      <div class="column is-5 is-flex is-align-items-center is-justify-content-center">
        <button (click)="enregistrerPseudo()" class="button is-success">Enregistrer</button>
      </div>
    </div>
    <br><br><br>
    <!-- Paramètres -->
    <button *ngIf="dataService.feminin" type="submit" class="button is-info is-light" (click)="dataService.majFeminin(false)">Pseudo masculin</button>
    <button *ngIf="!dataService.feminin" class="button is-info">Pseudo masculin</button>
    &nbsp;
    <button *ngIf="!dataService.feminin" type="submit" class="button is-sponsor is-light" (click)="dataService.majFeminin(true)">Pseudo féminin</button>
    <button *ngIf="dataService.feminin" class="button is-sponsor">Pseudo féminin</button>
    <br><br>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="fermerModale('pseudo')"></button>
</div>