<!-- Nombre d'utilisateurs connectés -->
<div class="columns">
  <div class="column">
    <div class="dropdown is-right is-hoverable">
      <div class="dropdown-trigger">
        <a routerLink="/classement/individuel" routerLinkActive="active" class="is-link">
          <i class="image is-48x48"><img src="assets/img/gvalmont/leaderboard-lesser-regular.svg" /></i>
        </a>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>Voir le classement individuel</p>
          </div>
        </div>
      </div>
    </div>
    &nbsp;
    <div class="dropdown is-right is-hoverable">
      <div class="dropdown-trigger">
        <a routerLink="/classement/equipes" routerLinkActive="active" class="is-link">
          <i class="image is-48x48"><img src="assets/img/gvalmont/leaderboard-regular.svg" /></i>
        </a>
      </div>
      <div class="dropdown-menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>Voir le classement des équipes</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <br>
      <p *ngIf="dataService.onlineNb == 0">Pas d'utilisateur connecté</p>
      <p *ngIf="dataService.onlineNb > 0">{{dataService.onlineNb}}
        {{dataService.onlineNb > 1 ? 'utilisateurs sont connectés' : 'utilisateur est connecté'}} dont
        {{dataService.onlineNb - dataService.onlineUsers.length}}
        {{dataService.onlineNb - dataService.onlineUsers.length > 1 ? 'invisibles' : 'invisible'}}
      </p>
    </div>
  </div>
</div>
<!-- Liste des utilisateurs visibles -->
<div *ngFor="let onlineUser of dataService.onlineUsers">
  <div class="columns">
    <!-- On fait un tableau à une seule colonne pour que les contenus restent alignés en vue portrait -->
    <div class="column is-flex is-align-items-center is-justify-content-center">
      <!-- Avatar -->
      <div class="column is-4">
        <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(onlineUser)"></figure>
      </div>
      <!-- Pseudo -->
      <div class="column is-6">
        <div *ngIf="onlineUser.lienTrophees != ''" class="dropdown is-right is-hoverable is-inline-block">
          <div class="dropdown-trigger">
            <a (click)="voirTropheesPerso(onlineUser)">{{onlineUser.pseudo}}</a>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>Voir ses trophées</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="onlineUser.lienTrophees == ''" class="is-inline-block">{{onlineUser.pseudo}}</div>
      </div>
      <!-- Scores -->
      <div class="column is-2">
        <div class="dropdown is-right is-hoverable">
          <div class="dropdown-trigger">
            <a (click)="voirClassementPerso(onlineUser)">{{onlineUser.score}}</a>
          </div>
          <div class="dropdown-menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                <p>Voir son classement</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>