<div class="container is-max-desktop centre">
  <div class="is-flex is-justify-content-center">
    <app-lecteur-de-xls></app-lecteur-de-xls>
    &nbsp;
    <app-modale-tuto-xls [description]="description" [explications]="explications"></app-modale-tuto-xls>
  </div>
  <br>
  <div *ngIf="chaineACopier !== ''">
    <div class="is-flex is-justify-content-space-between" style="width: 400px; margin: 0 auto;">
      <a href="https://coopmaths.fr/alacarte.html" target="_blank" rel="noopener noreferrer"><button class="button is-link">Évaluation personnalisée</button></a>
      <button class="button is-light" (click)="copier()" [innerHTML]="texteBoutonCopier"></button>
    </div>
    <div class="is-flex is-justify-content-center">
      <div class="has-text-left is-family-monospace is-size-7 has-background-light" style="width: 400px;height: 200px;overflow: scroll; border-radius: 0px 0px 5px 5px;">
        <p [innerHTML]="chaineACopier"></p>
      </div>
    </div>
  </div>
</div>