#divBonus {
  display: none;
  color: red;
  background-color: white;
  border-style: solid;
  border-color: red;
  border-width: 4px;
  border-radius: 5000px;
  font-size: 40px;
  position: fixed;
  top: 10%;
  right: 20%;
}

.booboom {
  animation: Booboom 0.3s;
}

@keyframes Booboom {
  0%, 100% {
    transform:  scale(1);
  
  }
  50% {
    transform:  scale(1.6);
  }
}