#avatarAleatoireMenu, #enregistrerAvatarMenu {
  height: 96px;
  width: 96px;
  background-position: bottom right;
  background-size: 64px;
  background-repeat: no-repeat;
}

#avatarAleatoireMenu {
  background-image: url(/assets/img/cc0/dice-svgrepo-com.svg);
}

#enregistrerAvatarMenu {
  background-image: url(/assets/img/cc0/check-svgrepo-com.svg);
  filter: invert(67%) sepia(17%) saturate(1218%) hue-rotate(101deg) brightness(96%) contrast(92%);
}
