<div class="columns has-text-centered">
  <div class="column is-4">
    <div id='divAvatarEnCreation' class="is-inline-block" style="width: 390px; height: 390px"></div>
  </div>
  <div class="column is-8">
    <div class="tabs is-centered" style="margin-top: -50px;">
      <ul>
        <li>
          <a (click)="avatarAleatoire()">
            <span class="image is-96x96">
              <div id="avatarAleatoireMenu"></div>
            </span>
          </a>
        </li>
        <li [ngClass]="{'is-active': ongletActif === 'couleur'}">
          <a (click)="ongletActif = 'couleur'; MAJPage()">
            <span class="image is-96x96">
              <div id="skinColorMenu"></div>
            </span>
          </a>
        </li>
        <li [ngClass]="{'is-active': ongletActif === 'yeux'}">
          <a (click)="ongletActif = 'yeux'; MAJPage()">
            <span class="image is-96x96">
              <div id="eyesMenu"></div>
            </span>
          </a>
        </li>
        <li [ngClass]="{'is-active': ongletActif === 'sourcils'}">
          <a (click)="ongletActif = 'sourcils'; MAJPage()">
            <span class="image is-96x96">
              <div id="eyebrowsMenu"></div>
            </span>
          </a>
        </li>
        <li [ngClass]="{'is-active': ongletActif === 'bouche'}">
          <a (click)="ongletActif = 'bouche'; MAJPage()">
            <span class="image is-96x96">
              <div id="mouthMenu"></div>
            </span>
          </a>
        </li>
        <li [ngClass]="{'is-active': ongletActif === 'accessoires'}">
          <a (click)="ongletActif = 'accessoires'; MAJPage()">
            <span class="image is-96x96">
              <div id="accessoiresMenu"></div>
            </span>
          </a>
        </li>
        <li [ngClass]="{'is-active': ongletActif === 'cheveux'}">
          <a (click)="ongletActif = 'cheveux'; MAJPage()">
            <span class="image is-96x96">
              <div id="hairMenu"></div>
            </span>
          </a>
        </li>
        <li [ngClass]="{'is-active': ongletActif === 'couleurCheveux'}">
          <a (click)="ongletActif = 'couleurCheveux'; MAJPage()">
            <span class="image is-96x96">
              <div id="hairColorMenu"></div>
            </span>
          </a>
        </li>
        <li>
          <a (click)="afficherModaleConfirmation()">
            <span class="image is-96x96">
              <div id="enregistrerAvatarMenu"></div>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div id="panneauPrincipal" (click)="recupererDonneesAvatar()"></div>
    <div class="is-size-7">Dessins de <a href="https://www.instagram.com/lischi_art/">Lisa Wischofsky</a> sous licence <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></div>
  </div>
</div>
<svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false">
  <defs>
    <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#05a" />
      <stop offset="100%" stop-color="#0a5" />
    </linearGradient>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" style="stop-color:#f2d3b1;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#ecad80;stop-opacity:1" />
    </linearGradient>
  </defs>
</svg>
<div class="cache">
  <div id="skinColor"></div>
  <div id="eyes"></div>
  <div id="eyebrows"></div>
  <div id="mouth"></div>
  <div id="accessoires"></div>
  <div id="hair"></div>
  <div id="hairColor"></div>
</div>

<!-- Modale de confirmation -->
<div id="modaleConfirmation" class="modal centre">
  <div class="modal-background" (click)="fermerModaleConfirmation()"></div>
  <div><br><br><br></div>
  <div class="modal-content has-background-white px-6 is-size-3">
    <!-- Texte -->
    <div id="modaleConfirmationDivAvatarEnCreation"></div>
    <p>
      Enregistrer cet avatar ?
    </p>
    <!-- Boutons -->
    <button (click)="fermerModaleConfirmation(redirection)" class="button is-danger">Non</button>
    &nbsp; &nbsp;
    <button (click)="empecherNavigation = false; MAJAvatar(redirection)" class="button is-success">Oui</button>
    <br>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="fermerModaleConfirmation()"></button>
</div>