<div class="container is-max-desktop centre">
  <h1 style="border-radius: 50px 50px 0px 0px; padding: 5px 50px 5px 50px; margin-bottom: 0px; background-color: #16A34A; color: white; font-size: xx-large; font-weight: 600;">Outils pour la classe</h1>
  <div style="background-color: #ebfaf1; border-radius: 0px 0px 50px 50px; ">
    <div>
      <br><br>
      <a [routerLink]="['/outils/mathador']">
        <button class="button is-large is-violet is-outlined p-6">
          <p class="enorme">Mathador</p>
        </button>
      </a>
    </div>
    <div *ngIf="storageService.modeEnseignant">
      <br><br>
      <a [routerLink]="['/outils/tableau-d-aide']">
        <button class="button is-large is-tout is-outlined p-6">
          <p class="enorme">Tableau d'aide</p>
        </button>
      </a>
    </div>
    <div *ngIf="storageService.modeEnseignant">
      <br><br>
      <a [routerLink]="['/outils/evaluations-a-la-demande']">
        <button class="button is-large is-link is-outlined p-6">
          <p class="enorme">Évaluations<br>à la demande</p>
        </button>
      </a>
    </div>
    <div *ngIf="storageService.modeEnseignant">
      <br><br>
      <a [routerLink]="['/outils/evaluations-bilan']">
        <button class="button is-large is-sponsor is-outlined p-6">
          <p class="enorme">Évaluations<br>bilan</p>
        </button>
      </a>
    </div>
    <br><br><br><br>
    <div *ngIf="!storageService.modeEnseignant">
      <a (click)="activerModeEnseignant()">
        <button class="button is-green is-outlined">
          <p>Activer le mode enseignant</p>
        </button>
      </a>
    </div>
    <div *ngIf="storageService.modeEnseignant">
      <a (click)="desactiverModeEnseignant()">
        <button class="button is-green">
          <p>Désactiver le mode enseignant</p>
        </button>
      </a>
    </div>
    <br><br>
  </div>
</div>