<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <a [href]="lien.replace('v=e','v=latex')">
      <i [ngClass]="{'image is-inline-block': true, 'is-16x16': size === 1, 'is-24x24': size === 2, 'is-32x32': size === 3, 'is-48x48': size === 4, 'is-64x64': size === 5, 'is-96x96': size === 6, 'is-128x128': size === 7}">
        <img src='/assets/img/cc0/printing-document-svgrepo-com.svg' />
      </i>
    </a>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content p-1" style="width: 550px;">
      <div class="dropdown-item">
        <span class="has-text-weight-semibold" style="border-radius: 5px;border-style: solid; padding: 5px;">Comment imprimer ?</span>
        <br><br>
        <ul class=" has-text-left has-text-weight-normal">
          <li>1. À gauche, modifier le nombre de questions</li>
          <li>2. À droite, modifier le style/thème puis "Compiler en PDF sur Overleaf.com"</li>
          <li>3. S'inscire (gratuit) / Se connecter</li>
          <li>4. Bouton "Download PDF" à droite du "Recompile" en vert</li>
        </ul>
      </div>
    </div>
  </div>
</div>