<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <a [href]="lien.replace('v=eval','v=latex')">
      <i class='image is-24x24 is-inline-block'>
        <img src='/assets/img/cc0/printing-document-svgrepo-com.svg' />
      </i>
    </a>
  </div>
  <div class="dropdown-menu">
    <div class="dropdown-content p-1" style="width: 550px;">
      <div class="dropdown-item">
        <span style="border-radius: 5px;border-style: solid; padding: 5px;">Comment imprimer ?</span>
        <br><br>
        <ul class=" has-text-left">
          <li>1. À gauche, modifier le nombre de questions</li>
          <li>2. À droite, modifier le style/thème puis "Compiler en PDF sur Overleaf.com"</li>
          <li>3. S'inscire (gratuit) / Se connecter</li>
          <li>4. Bouton "Download PDF" à droite du "Recompile" en vert</li>
        </ul>
      </div>
    </div>
  </div>
</div>