<div class="columns centre">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div *ngIf="!organisation">
      <h1 class='title is-2 has-text-white has-background-primary is-rounded p-5'>Compétitions en cours</h1>
      <div id="divCompetitionsEnCours" class="has-background-primary-light bas-arrondi">
        <br>
        <p *ngIf="competitionsEnCours.length == 0">Pas de compétition en ce moment...</p>
        <div *ngFor="let competitionEnCours of competitionsEnCours">
          <div [class]="'titre ' + competitionEnCours.type">
            {{competitionEnCours.type == 'bestOf10' ? 'Best of 10' : competitionEnCours.type == 'battleRoyale' ? 'Battle Royale' : ''}}
          </div>
          <div [class]="'container-competition is-small ' + competitionEnCours.type">
            <div class="is-flex is-align-items-center is-justify-content-center">
              <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(competitionEnCours.participants[0])"></figure>
              <span>{{ competitionEnCours.participants[0].pseudo }} &nbsp; &nbsp;</span>
              <i class="image is-48x48 is-inline-block"><img [src]="'assets/img/cc0/' + competitionEnCours.type + '-svgrepo-com.svg'" /></i>
              <span>{{competitionEnCours.participants.length}} / {{competitionEnCours.maxParticipants}}</span>
            </div>
            <span *ngIf="competitionEnCours.niveaux[0] != ''">
              <span *ngFor="let niveau of competitionEnCours.niveaux">
                <span style="word-break: keep-all" [ngClass]="'dropdown px-4 subtitle is-rounded is-' + niveau">{{ niveau }}<div class="dropdown-content">Toutes les séquences de {{niveau}}</div></span>
              </span>
            </span>
            <span *ngIf="competitionEnCours.niveaux[0] != ''">
              <span style="word-break: keep-all" class="px-4 py-2 subtitle is-rounded bonus dropdown">x2<div class="dropdown-content">Les points de cette compétition sont doublés !</div></span>
            </span>
            <span *ngIf="competitionEnCours.sequences[0] != ''">
              <span *ngFor="let sequence of competitionEnCours.sequences; index as i">
                <span style="word-break: keep-all" [ngClass]="'dropdown px-4 subtitle is-6 is-rounded is-' + sequence.slice(1, 2) + 'e'">{{ sequence.slice(2) }}<span *ngIf="competitionEnCours.niveaux[0] == '' ? (i + 1) % 5 == 0 :((competitionEnCours.niveaux.length + i + 2) % 5 == 0)">
                    <br>
                </span>
                <div class="dropdown-content">Séquence {{ sequence.slice(3) }} de {{sequence.slice(1, 2)}}e</div>
                </span>
              </span>
            </span>
          </div>
          <br>
        </div>
        <figure class="image is-64x64 is-inline-block">
          <img *ngIf="enCoursDeMaj" [src]="'assets/img/cc0/primary-spinner.svg'">
        </figure>
        <br>
      </div>
      <br>
      <button *ngIf="competitionActuelle.organisateur == ''" [routerLink]="['/competitions/organiser']" class="button is-link">Organiser une compétition</button>
      <div id="divCompetitionActuelle" *ngIf="competitionActuelle.organisateur != ''">
        <div [ngClass]="{'title is-2 has-text-white': true, 'has-background-link': competitionActuelle.type == 'bestOf10', 'has-background-danger': competitionActuelle.type == 'battleRoyale'}">
          {{competitionActuelle.type == 'bestOf10' ? 'Best of 10' : competitionActuelle.type == 'battleRoyale' ? 'Battle Royale' : ''}}
        </div>
        <div [class]="'container-competition ' + competitionActuelle.type">
          <div class="is-flex is-align-items-center is-justify-content-center">
            <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(competitionActuelle.participants[0])"></figure>
            <span>{{ competitionActuelle.participants[0].pseudo }} &nbsp; &nbsp;</span>
            <i class="image is-48x48 is-inline-block"><img [src]="'assets/img/cc0/' + competitionActuelle.type + '-svgrepo-com.svg'" /></i>
            <span>{{competitionActuelle.participants.length}} / {{competitionActuelle.maxParticipants}}</span>
          </div>
          <span *ngIf="competitionActuelle.niveaux[0] != ''">
            <span *ngFor="let niveau of competitionActuelle.niveaux">
              <span style="word-break: keep-all" [ngClass]="'dropdown px-4 subtitle is-rounded is-' + niveau">{{ niveau }}<div class="dropdown-content">Toutes les séquences de {{niveau}}</div></span>
            </span>
          </span>
          <span *ngIf="competitionActuelle.niveaux[0] != ''">
            <span style="word-break: keep-all" class="px-4 py-2 subtitle is-rounded bonus dropdown">x2<div class="dropdown-content">Les points de cette compétition sont doublés !</div></span>
          </span>
          <span *ngIf="competitionActuelle.sequences[0] != ''">
            <span *ngFor="let sequence of competitionActuelle.sequences; index as i">
              <span style="word-break: keep-all" [ngClass]="'dropdown px-4 subtitle is-6 is-rounded is-' + sequence.slice(1, 2) + 'e'">{{ sequence.slice(2) }}<span *ngIf="competitionActuelle.niveaux[0] == '' ? (i + 1) % 5 == 0 :((competitionActuelle.niveaux.length + i + 2) % 5 == 0)">
                  <br>
              </span>
              <div class="dropdown-content">Séquence {{ sequence.slice(3) }} de {{sequence.slice(1, 2)}}e</div>
              </span>
            </span>
          </span>
          <h1 class="title is-4">Liste des participants</h1>
          <div *ngFor="let participant of competitionActuelle.participants">
            <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(participant)"></figure>
            <span>{{ participant.pseudo }} &nbsp; &nbsp;</span>
          </div>
          <div *ngIf="competitionActuelle.participants[0].id == dataService.user.id">
            <br><br>
            <button class="button is-danger" (click)="annulerOrganisation()">Annuler la compétition</button>
            &nbsp; &nbsp;
            <button class="button is-success" (click)="lancerCompetition()">Lancer la compétition</button>
          </div>
        </div>
      </div>
    </div>
    <div id="divOrganisation" *ngIf="organisation">
      <h1 class='title is-2'>Organiser une compétition</h1>
      <div *ngIf="type != 'battleRoyale'">
        <a [routerLink]="['/competitions/organiser/bestOf10']">
          <button [ngClass]="{'button is-large is-info p-6': true, 'is-outlined' : type != 'bestOf10'}">
            <p class="enorme">Best of 10</p>
            &nbsp;
            <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/bestOf10-svgrepo-com.svg" /></i>
          </button>
        </a>
        <br>
        <br>
      </div>
      <p *ngIf="type == 'bestOf10'" class="is-size-4">10 questions pour voir qui est le ou la meilleur(e) !
        <br>
      </p>
      <div *ngIf="type != 'bestOf10'">
        <a [routerLink]="['/competitions/organiser/battleRoyale']">
          <button [ngClass]="{'button is-large is-danger p-6': true, 'is-outlined' : type != 'battleRoyale'}">
            <p class="enorme">Battle Royale</p>
            &nbsp;
            <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/battleRoyale-svgrepo-com.svg" /></i>
          </button>
        </a>
        <br>
        <br>
      </div>
      <p *ngIf="type == 'battleRoyale'" class="is-size-4">Jusqu'à 100 personnes !<br>1 erreur et tu es éliminé(e) !<br>
      </p>
      <br>
      <br>
      <div *ngIf="type != '' && type != null">
        <app-liste-sequences [modeSelection]="true" [reactiveBoutonsEnvoi]="reactiveBoutonsEnvoi" (selection)="recupererExercices($event)"></app-liste-sequences>
      </div>
      <br>
      <button *ngIf="organisation && type != ''" [routerLink]="['/competitions/organiser']" class="button is-warning">Retour</button>
      <button *ngIf="organisation && type == ''" [routerLink]="['/competitions']" class="button is-warning">Annuler</button>
    </div>
  </div>
  <div class="column is-one-fifth">
    <!-- Utilisateurs connectés -->
    <app-whosonline></app-whosonline>
  </div>
</div>
<app-modale-exercices [infosModale]="infosModale" (modaleFermee)="scrollBack()"></app-modale-exercices>

<!-- Modale de confirmation -->
<div id="modaleConfirmation" class="modal centre">
  <div class="modal-background" (click)="fermerModaleConfirmation()"></div>
  <div><br><br><br></div>
  <div class="modal-content has-background-white">
    <br><br>
    <!-- Texte -->
    <p id='texteModale'>
    </p>
    <br>
    <!-- Boutons -->
    <div class="columns">
      <div class="column is-5">
        <button id='boutonRester' (click)="fermerModaleConfirmation()" class="button is-success is-large">Rester</button>
      </div>
      <div class="column is-2">
      </div>
      <div class="column is-5">
        <button id='boutonPartir' (click)="annulerOrganisation(redirection)" class="button is-danger is-large">Partir</button>
      </div>
    </div>
    <br>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="fermerModaleConfirmation()"></button>
</div>