<div class="columns centre">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div *ngIf="!organisation">
      <h1 class='title is-2'>Compétitions en cours</h1>
      <p>Pas de compétition en ce moment...</p>
      <br><br>
      <button [routerLink]="['/competitions/organiser']" class="button is-link">Organiser une compétition</button>
    </div>
    <div *ngIf="organisation">
      <h1 class='title is-2'>Organiser une compétition</h1>
      <div *ngIf="type != 'tournoi' && type != 'battleRoyale'">
        <a [routerLink]="['/competitions/organiser/duel']">
          <button [ngClass]="{'button is-large is-info p-6': true, 'is-outlined' : type != 'duel'}">
            <p class="enorme">Duel</p>
            &nbsp;
            <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/duel-svgrepo-com.svg" /></i>
          </button>
        </a>
        <br>
        <br>
      </div>
      <p *ngIf="type == 'duel'" class="is-size-4">1 contre 1.<br>Que le meilleur gagne !
        <br>
      </p>
      <div *ngIf="type != 'duel' && type != 'battleRoyale'">
        <a [routerLink]="['/competitions/organiser/tournoi']">
          <button [ngClass]="{'button is-large is-link p-6': true, 'is-outlined' : type != 'tournoi'}">
            <p class="enorme">Tournoi</p>
            &nbsp;
            <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/tournament-svgrepo-com.svg" /></i>
          </button>
        </a>
        <br>
        <br>
      </div>
      <p *ngIf="type == 'tournoi'" class="is-size-4">Tournoi à 4, 8, 16 ou 32 personnes.<br>Que le meilleur gagne !
        <br>
      </p>
      <div *ngIf="type != 'duel' && type != 'tournoi'">
        <a [routerLink]="['/competitions/organiser/battleRoyale']">
          <button [ngClass]="{'button is-large is-danger p-6': true, 'is-outlined' : type != 'battleRoyale'}">
            <p class="enorme">Battle Royale</p>
            &nbsp;
            <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/mode-battlegrounds-svgrepo-com.svg" /></i>
          </button>
        </a>
        <br>
        <br>
      </div>
      <p *ngIf="type == 'battleRoyale'" class="is-size-4">Jusqu'à 100 personnes !<br>1 erreur et tu es éliminé.<br>On verra qui est le meilleur !
      </p>
      <br>
      <br>
      <div *ngIf="type != '' && type != null">
        <app-liste-sequences [modeSelection]="true" (selection)="recupererExercices($event)"></app-liste-sequences>
      </div>
      <br>
      <button *ngIf="organisation && type != ''" [routerLink]="['/competitions/organiser']" class="button is-warning">Retour</button>
      <button *ngIf="organisation && type == ''" [routerLink]="['/competitions']" class="button is-warning">Annuler</button>
    </div>
  </div>
  <div class="column is-one-fifth">
    <!-- Utilisateurs connectés -->
    <app-whosonline></app-whosonline>
  </div>
</div>
<app-modale-exercices [infosModale]="infosModale" (modaleFermee)="scrollBack()"></app-modale-exercices>

<!-- Modale de confirmation -->
<div id="modaleConfirmation" class="modal centre">
  <div class="modal-background" (click)="fermerModaleConfirmation()"></div>
  <div><br><br><br></div>
  <div class="modal-content has-background-white">
    <br><br>
    <!-- Texte -->
    <p>
      Si tu quittes la page, la compétition que tu es en train d'organiser sera annulée.<br>
      Qu'est-ce que tu veux faire ?
    </p>
    <br>
    <!-- Boutons -->
    <div class="columns">
      <div class="column is-5">
        <button (click)="fermerModaleConfirmation()" class="button is-success is-large">Rester</button><br>Continuer d'organiser cette compétition et rester sur la page
      </div>
      <div class="column is-2">
      </div>
      <div class="column is-5">
        <button (click)="annulerOrganisation(redirection)" class="button is-danger is-large">Partir</button><br>Annuler cette compétition et partir
      </div>
    </div>
    <br>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="fermerModaleConfirmation()"></button>
</div>