<div class="columns centre">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <!-- Affichage des compétitions en cours -->
    <div *ngIf="!organisation">
      <h1 id="titreCompetitionsEnCours" (click)="toggleCompetitionsEnCours()" class='title is-2 has-text-white has-background-primary is-rounded p-5 is-clickable'>Compétitions en cours</h1>
      <div id="divCompetitionsEnCours" class="has-background-primary-light bas-arrondi">
        <br>
        <p *ngIf="competitionsEnCours[0] == null || (competitionsEnCours[0] != null && competitionsEnCours[0].nbParticipants == 0)">
          Pas de compétition en ce moment
        <figure class="image is-32x32 is-inline-block has-text-left">{{troisPetitsPoints}}</figure>
        </p>
        <div *ngIf="competitionsEnCours[0] != null && competitionsEnCours[0].type != ''">
          <div *ngFor="let competitionEnCours of competitionsEnCours">
            <div [class]="'titre is-clickable is-flex is-align-items-center is-justify-content-center ' + competitionEnCours.type" (click)="rejoindreCompetition(competitionEnCours.id)">
              <p>{{competitionEnCours.type == 'bestOf10' ? 'Best of 10' : competitionEnCours.type == 'battleRoyale' ? 'Battle Royale' : ''}}</p>
              <p>&nbsp; &nbsp;</p>
              <i class="image is-white is-24x24 is-inline-block">
                <img *ngIf="competitionEnCours.statut == 'recrutement' || competitionEnCours.statut == 'preparation'" [src]="'assets/img/cc0/hourglass-svgrepo-com.svg'" />
                <img *ngIf="competitionEnCours.statut != 'recrutement' && competitionEnCours.statut != 'preparation' && competitionEnCours.type == 'bestOf10'" [src]="'assets/img/cc0/gears-configuration-tool-svgrepo-com.svg'" />
                <img *ngIf="competitionEnCours.statut != 'recrutement' && competitionEnCours.statut != 'preparation' && competitionEnCours.type == 'battleRoyale'" [src]="'assets/img/cc0/padlock-svgrepo-com.svg'" />
              </i>
            </div>
            <div [class]="'container-competition is-small is-clickable ' + competitionEnCours.type" (click)="rejoindreCompetition(competitionEnCours.id)">
              <div class="is-flex is-align-items-center is-justify-content-center" style="line-height: normal;">
                <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(competitionEnCours.profilOrganisateur)"></figure>
                <span>{{ competitionEnCours.profilOrganisateur.pseudo }}</span>
                <i class="image is-48x48 is-inline-block"><img *ngIf="competitionEnCours.type != ''" [src]="'assets/img/cc0/' + competitionEnCours.type + '-svgrepo-com.svg'" /></i>
                <span>{{competitionEnCours.nbParticipants}} / {{competitionEnCours.maxParticipants}}</span>
              </div>
              <span *ngIf="competitionEnCours.niveaux[0] != ''">
                <span *ngFor="let niveau of competitionEnCours.niveaux">
                  <span style="word-break: keep-all" [ngClass]="'dropdown px-4 subtitle is-rounded is-' + niveau">{{ niveau }}<div class="dropdown-content">Toutes les séquences de {{niveau}}</div></span>
                </span>
              </span>
              <span *ngIf="competitionEnCours.niveaux[0] != ''">
                <span style="word-break: keep-all" class="px-4 py-2 subtitle is-rounded bonus dropdown">x2<div class="dropdown-content">Les points de cette compétition sont doublés !</div></span>
              </span>
              <span *ngIf="competitionEnCours.sequences[0] != ''">
                <span *ngFor="let sequence of competitionEnCours.sequences; index as i">
                  <span style="word-break: keep-all" [ngClass]="'dropdown px-4 subtitle is-6 is-rounded is-' + sequence.slice(1, 2) + 'e'">{{ sequence.slice(2) }}<span *ngIf="competitionEnCours.niveaux[0] == '' ? (i + 1) % 5 == 0 :((competitionEnCours.niveaux.length + i + 2) % 5 == 0)">
                      <br>
                    </span>
                    <div class="dropdown-content">Séquence {{ sequence.slice(3) }} de {{sequence.slice(1, 2)}}e</div>
                  </span>
                </span>
              </span>
            </div>
            <br>
          </div>
        </div>
        <figure class="image is-64x64 is-inline-block">
          <img *ngIf="enCoursDeMaj" [src]="'assets/img/cc0/primary-spinner.svg'">
        </figure>
        <br>
      </div>
      <br>
      <button *ngIf="!participationEnCours" [routerLink]="['/competitions/organiser']" class="button is-link">Organiser une compétition</button>
      <!-- Affichage de la compétition actuelle -->
      <div id="divCompetitionActuelle" *ngIf="participationEnCours">
        <!-- Titre -->
        <div [ngClass]="{'title is-2 has-text-white': true, 'has-background-link': competitionActuelle.type == 'bestOf10', 'has-background-danger': competitionActuelle.type == 'battleRoyale'}">
          <div>
            {{competitionActuelle.type == 'bestOf10' ? 'Best of 10' : competitionActuelle.type == 'battleRoyale' ? 'Battle Royale' : ''}}<figure class="image is-48x48 is-inline-block has-text-left">{{troisPetitsPoints}}</figure>
          </div>
        </div>
        <!-- Contenu -->
        <app-competition-actuelle [competitionActuelle]="competitionActuelle" [troisPetitsPoints]="troisPetitsPoints" (fermerLobby)="fermerLobby()"></app-competition-actuelle>
        <br>
        <button *ngIf="competitionActuelle.profilOrganisateur.id != dataService.user.id || competitionActuelle.statut != 'recrutement'" class="button is-danger" (click)="quitterCompetition()">Quitter la compétition</button>
        <div *ngIf="competitionActuelle.profilOrganisateur.id == dataService.user.id && competitionActuelle.statut == 'recrutement'">
          <button id='boutonAnnulerCompetition' class="button is-danger" (click)="annulerCompetition(true)">Annuler la compétition</button>
          &nbsp; &nbsp;
          <button id='boutonLancerCompetition' class="button is-success" (click)="lancerCompetition()">Lancer la compétition</button>
        </div>
      </div>
    </div>
    <!-- Organisation d'une nouvelle compétition -->
    <div id="divOrganisation" *ngIf="organisation">
      <h1 class='title is-2'>Organiser une compétition</h1>
      <div *ngIf="type != 'battleRoyale'">
        <a [routerLink]="['/competitions/organiser/bestOf10']">
          <button [ngClass]="{'button is-large is-info p-6': true, 'is-outlined' : type != 'bestOf10'}">
            <p class="enorme">Best of 10</p>
            &nbsp;
            <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/bestOf10-svgrepo-com.svg" /></i>
          </button>
        </a>
        <br>
        <br>
      </div>
      <p *ngIf="type == 'bestOf10'" class="is-size-4">10 questions pour voir qui est le ou la meilleur(e) !
        <br>
      </p>
      <div *ngIf="type != 'bestOf10'">
        <a [routerLink]="['/competitions/organiser/battleRoyale']">
          <button [ngClass]="{'button is-large is-danger p-6': true, 'is-outlined' : type != 'battleRoyale'}">
            <p class="enorme">Battle Royale</p>
            &nbsp;
            <i class="image is-48x48 is-inline-block"><img src="assets/img/cc0/battleRoyale-svgrepo-com.svg" /></i>
          </button>
        </a>
        <br>
        <br>
      </div>
      <p *ngIf="type == 'battleRoyale'" class="is-size-4">Jusqu'à 100 personnes !<br>1 erreur et tu es éliminé(e) !<br>
      </p>
      <br>
      <br>
      <div *ngIf="type != '' && type != null">
        <app-liste-sequences [modeSelection]="true" [reactiveBoutonsEnvoi]="reactiveBoutonsEnvoi" (selection)="recupererExercices($event)"></app-liste-sequences>
      </div>
      <br>
      <button *ngIf="organisation && type != ''" [routerLink]="['/competitions/organiser']" class="button is-warning">Retour</button>
      <button *ngIf="organisation && type == ''" [routerLink]="['/competitions']" class="button is-warning">Annuler</button>
    </div>
  </div>
  <div class="column is-one-fifth">
    <!-- Utilisateurs connectés -->
    <app-whosonline></app-whosonline>
  </div>
</div>
<app-modale-exercices [infosModale]="infosModale" (modaleFermee)="modalefermee($event)"></app-modale-exercices>

<!-- Modale de confirmation -->
<div id="modaleConfirmation" class="modal centre" (click)="repondreAppelDePreparation()">
  <div class="modal-background"></div>
  <div><br><br><br></div>
  <div class="modal-content has-background-white">
    <br><br>
    <!-- Texte -->
    <p>
      La compétition va démarrer !<br>
      Tu es toujours là ?
    </p>
    <br>
    <!-- Bouton -->
    <button class="button is-success is-large">Oui</button>
    <div><br><br></div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- Lobby -->
<div id="lobby" [ngClass]="{'centre cache has-background-white':true}">
  <div style="margin: 2%; width: 96%;">
    <div [ngClass]="{'title is-2 has-text-white is-flex is-justify-content-space-between': true, 'has-background-link': competitionActuelle.type == 'bestOf10', 'has-background-danger': competitionActuelle.type == 'battleRoyale'}">
      <div>
        <i class="image is-white is-48x48 is-clickable" (click)="fermerLobby()">
          <img src='/assets/img/cc0/left-arrow-back-svgrepo-com.svg' />
        </i>
      </div>
      <div>
        {{competitionActuelle.type == 'bestOf10' ? 'Best of 10' : competitionActuelle.type == 'battleRoyale' ? 'Battle Royale' : ''}}<figure *ngIf="!afficheFin" class="image is-48x48 is-inline-block has-text-left">{{troisPetitsPoints}}</figure>
      </div>
      <div>
        <i class="image is-white is-48x48 is-clickable" (click)="fermerLobby()">
          <img src='assets/img/cc0/cross-svgrepo-com.svg' />
        </i>
      </div>
    </div>
    <!-- Classement -->
    <div *ngIf="classementAffiche" [class]="'is-size-5 container-competition ' + competitionActuelle.type">
      <div *ngFor="let participant of competitionActuelle.participants; index as i" class="is-flex is-align-items-center is-justify-content-space-between" style="max-width: 600px; margin: auto;">
        <span class="is-size-3 has-text-weight-semibold" style="width: 40px;">{{ i + 1 }}</span>
        <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(participant)"></figure>
        <span style="width: 250px;">{{ participant.pseudo }}
          <figure *ngIf="participant.flamme == 0" class="image is-24x24 is-inline-block"></figure>
          <figure *ngIf="participant.flamme == 1" class="image is-24x24 is-inline-block"><img src="/assets/img/cc0/hot-flame-svgrepo-com.svg" /></figure>
        </span>
        <span *ngIf="participant.points != null" class="has-text-weight-semibold" style="width: 80px;">{{ participant.points }}</span>
      </div>
    </div>
    <!-- Fin -->
    <div [ngClass]="{'cache': !afficheFin}">
      <div id="podium-box" [class]="'container-competition ' + competitionActuelle.type" style="height: 300px">
        <div class="step-container">
          <div id="deuxieme">
            <div *ngIf="competitionActuelle.participants[1] == null"></div>
            <div *ngIf="competitionActuelle.participants[1] != null">
              <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(competitionActuelle.participants[1])"></figure>
              <span style="width: 250px;">{{ competitionActuelle.participants[1].pseudo }}</span>
            </div>
          </div>
          <div id="second-step" class="podium-number">
            2
          </div>
        </div>
        <div class="step-container">
          <div id="premier">
            <div *ngIf="competitionActuelle.participants[0] == null"></div>
            <div *ngIf="competitionActuelle.participants[0] != null">
              <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(competitionActuelle.participants[0])"></figure>
              <span style="width: 250px;">{{ competitionActuelle.participants[0].pseudo }}</span>
            </div>
          </div>
          <div id="first-step" class="podium-number">
            1
          </div>
        </div>
        <div class="step-container">
          <div id="troisieme">
            <div *ngIf="competitionActuelle.participants[3] == null"></div>
            <div *ngIf="competitionActuelle.participants[3] != null">
              <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(competitionActuelle.participants[3])"></figure>
              <span style="width: 250px;">{{ competitionActuelle.participants[3].pseudo }}</span>
            </div>
          </div>
          <div id="third-step" class="podium-number">
            3
          </div>
        </div>
      </div>
    </div>
    <!-- Lobby -->
    <div *ngIf="!classementAffiche && !afficheFin">
      <app-competition-actuelle [competitionActuelle]="competitionActuelle" [troisPetitsPoints]="troisPetitsPoints" [details]="true"></app-competition-actuelle>
    </div>
  </div>
</div>