<div class="container is-max-desktop centre">
  <h1 id="titre" [class]="'title is-2 is-' + niveau">{{ titre }}</h1>
  <div [class]="'is-' + niveau" *ngIf="rappelDuCoursHTML !== '' || rappelDuCoursImage !== '' || rappelDuCoursInstrumenpoche !== ''">
    <h2 [class]="'mb-5 pb-5 subtitle is-3 is-' + niveau">Rappel du cours</h2>
    <div class="has-text-centered pb-5">
      <p *ngIf="rappelDuCoursHTML !== ''" [mathjax]="rappelDuCoursHTML" class="is-size-5"></p>
      <br>
      <img *ngIf="rappelDuCoursImage !== ''" [src]="rappelDuCoursImage" />
      <app-animation-instrumenpoche *ngIf="rappelDuCoursInstrumenpoche !== ''" [nomAnimation]="rappelDuCoursInstrumenpoche" class="centre"></app-animation-instrumenpoche>
    </div>
  </div>
  <div [class]="'is-' + niveau" *ngIf="videos.length > 0">
    <h2 [class]="'subtitle is-3 is-' + niveau">Vidéo{{videos.length > 1 ? 's' : ''}} d'explication</h2>
    <div class='pb-5' *ngFor="let video of videos">
      <h3 *ngIf="video.titre !== ''" [class]="'subtitle is-4 is-' + niveau">{{video.titre}}</h3>
      <div class="image is-16by9"><iframe class="has-ratio" [src]="video.lienVideo| safe" allowfullscreen></iframe></div>
      <p><u>Vidéo de <a [href]="video.lienAuteur" target="_blank" rel="noopener noreferrer">{{ video.auteur }}</a></u></p>
    </div>
  </div>
  <div id="divExercices" *ngIf="exercices.length > 0" [class]="'is-' + niveau">
    <h2 [class]="'subtitle is-3 is-' + niveau">
      <a *ngIf="lienExercices !== ''" (click)="ouvrirModaleExercices(lienExercices)">
        S'entraîner
        &nbsp;
        <app-bouton-dropdown-simple [bouton]="'/assets/img/cc0/fullscreen-svgrepo-com.svg'" [dropdown]="'Lancer les exercices'"></app-bouton-dropdown-simple>
      </a>
      <a *ngIf="lienExercices === ''">S'entraîner</a>
      <span *ngIf="storageService.modeEnseignant && lienExercices !== ''">
        &nbsp;
        <app-bouton-imprimer [lien]="lienExercices"></app-bouton-imprimer>
        &nbsp;
        <a *ngIf="!tousLesExercicesSontDansLePanier" (click)="toutAjouterAuPanier()">
          <app-bouton-dropdown-simple [bouton]="'/assets/img/cc0/cart-plus-svgrepo-com.svg'" [dropdown]="'Ajouter tous les exercices au panier'"></app-bouton-dropdown-simple>
        </a>
        <a *ngIf="tousLesExercicesSontDansLePanier">
          <app-bouton-dropdown-simple [bouton]="'/assets/img/cc0/cart-check-svgrepo-com.svg'" [dropdown]="'Les exercices sont tous déjà dans le panier'"></app-bouton-dropdown-simple>
        </a>
      </span>
    </h2>
    <div><br></div>
    <div *ngFor="let exercice of exercices; index as i">
      <h3 class="title is-4 is-inline-block">
        <a (click)="ouvrirModaleExercices(exercice.lien)">
          {{ exercice.description !== undefined && exercice.description !== '' ? exercice.description : exercices.length > 1 ? 'Exercices de niveau ' + (i + 1) : 'Lancer l\'exercice' }}
          &nbsp;
          <app-bouton-dropdown-simple [bouton]="'/assets/img/cc0/fullscreen-svgrepo-com.svg'" [dropdown]="'Lancer l\'exercice'"></app-bouton-dropdown-simple>
        </a>
        <span *ngIf="storageService.modeEnseignant && exercice.slug.slice(0, 4) !== 'http'">
          &nbsp;
          <app-bouton-imprimer [lien]="exercice.lien"></app-bouton-imprimer>
          &nbsp;
          <a *ngIf="!exercice.estDansLePanier" (click)="ajouterAuPanier(i)">
            <app-bouton-dropdown-simple [bouton]="'/assets/img/cc0/cart-plus-svgrepo-com.svg'" [dropdown]="'Ajouter l\'exercice au panier'"></app-bouton-dropdown-simple>
          </a>
          <span *ngIf="exercice.estDansLePanier">
            <app-bouton-dropdown-simple [bouton]="'/assets/img/cc0/cart-check-svgrepo-com.svg'" [dropdown]="'L\'exercice est déjà présent dans le panier'"></app-bouton-dropdown-simple>
          </span>
        </span>
      </h3>
      <div><br></div>
    </div>
  </div>
  <div id="divTelechargements" [class]="'pb-5 is-' + niveau">
    <h2 [class]="'subtitle is-3 is-' + niveau">Téléchargements</h2>
    <div class="p-1">
      <div id="lienEntrainement" class="p-1 cache"></div>
      <div id="lienTest" class="p-1 cache"></div>
    </div>
  </div>
  <div id="liens" [class]="'is-fin is-' + niveau">
    <h2 [class]="'subtitle is-3 is-' + niveau">Séquence{{ sequences.length > 1 ? 's' : '' }}</h2>
    <div><br></div>
    <p>Cet objectif fait partie de :</p>
    <br>
    <ul>
      <li class="title is-4" *ngFor="let sequence of sequences">
        <a [ngStyle]="{'color' : 'var(--base' + sequence.reference.slice(1, 2) + 'e)'}" [routerLink]="['/sequence/' + sequence.reference]">
          {{'Séquence ' + sequence.reference.slice(3) + ' : ' + sequence.titre }}
        </a>
      </li>
    </ul>
    <div><br><br></div>
  </div>
</div>
<app-modale-exercices [infosModale]="infosModale" (modaleFermee)="scrollBack()"></app-modale-exercices>