<div class="container is-max-desktop centre">
  <h1 class="title is-2 is-tout">Défis géométriques</h1>
  <div class="is-tout is-fin">
    <p class="is-size-5">
      <br>
      Des défis géométriques à relever.<br>
      Allez-vous réussir à reproduire ces figures ?
    </p>
    <br>
    <p class="is-size-6 is-italic">
      (Ce sont les mêmes défis que dans le porte-vues jaune)
    </p>
    <div *ngFor="let seance of seances; index as i">
      <h2 class="mt-5 py-3 subtitle is-3 is-tout">Groupe {{ i + 1 }} : {{ seance.description }}</h2>
      <a (click)="ouvrirModaleExercices('https://www.geogebra.org/m/Rn6QDFCN#chapter/' + seance.slug)">
        <img [src]="'assets/img/sps2/' + seance.slug + '.png'">
      </a>
    </div>
    <div><br><br></div>
  </div>
</div>
<app-modale-exercices [infosModale]="infosModale"></app-modale-exercices>