<div [class]="'container-competition ' + competitionActuelle.type">
  <div class="is-flex is-align-items-center is-justify-content-center">
    <figure class="avatar is-inline-block" [style]="dataService.getStyleAvatar(competitionActuelle.profilOrganisateur)"></figure>
    <span>{{ competitionActuelle.profilOrganisateur.pseudo }}</span>
    <i class="image is-48x48 is-inline-block"><img *ngIf="competitionActuelle.type != ''" [src]="'assets/img/cc0/' + competitionActuelle.type + '-svgrepo-com.svg'" /></i>
    <span class="colore">{{competitionActuelle.participants.length}}</span><i class="image is-24x24"><img [src]="'assets/img/reshot/user-3294.svg'" /></i>
    &nbsp;&nbsp;<div class="dropdown is-size-3 has-text-weight-bold" id="coef-competitionActuelle"></div>
    <div class="dropdown-content">Plus il y a de monde, plus vous gagnez de points !</div>
  </div>
  <span *ngIf="competitionActuelle.niveaux[0] != ''">
    <span *ngFor="let niveau of competitionActuelle.niveaux">
      <span style="word-break: keep-all" [ngClass]="'dropdown px-4 subtitle is-rounded is-' + niveau">{{ niveau }}<div class="dropdown-content">Toutes les séquences de {{niveau}}</div></span>
    </span>
  </span>
  <span *ngIf="competitionActuelle.niveaux[0] != ''">
    <span style="word-break: keep-all" class="px-4 py-2 subtitle is-rounded bonus dropdown">×2<div class="dropdown-content">Les points de cette compétition sont doublés !</div></span>
  </span>
  <span *ngIf="competitionActuelle.sequences[0] != ''">
    <span *ngFor="let sequence of competitionActuelle.sequences; index as i">
      <span style="word-break: keep-all" [ngClass]="'dropdown px-4 subtitle is-6 is-rounded is-' + sequence.slice(1, 2) + 'e'">{{ sequence.slice(2) }}<span *ngIf="competitionActuelle.niveaux[0] == '' ? (i + 1) % 5 == 0 :((competitionActuelle.niveaux.length + i + 2) % 5 == 0)">
          <br>
        </span>
        <div class="dropdown-content">Séquence {{ sequence.slice(3) }} de {{sequence.slice(1, 2)}}e</div>
      </span>
    </span>
  </span>
  <div [ngClass]="{'is-flex is-justify-content-center is-align-items-center': true, 'is-flex-direction-row': !isMobile, 'is-flex-direction-column': isMobile}">
    <div *ngIf="details && competitionActuelle.question > 0">
      <div class="is-flex is-justify-content-space-between mx-2">
        <div style="width: 50px;"></div>
        <div class="is-size-4 has-text-weight-semibold">Question {{competitionActuelle.question}}</div>
        <div *ngIf="!details" style="width: 50px;"></div>
        <div *ngIf="details" class="is-size-4 has-text-weight-semibold" style="width: 50px;">{{ tempsRestant }}</div>
      </div>
      <div>
        <figure style="overflow: hidden; margin: 0;">
          <iframe style="margin: -30px 0 0;" [width]="largeurPreview" [height]="hauteurPreview" [src]="competitionActuelle.url.split(',i=')[0] + ',i=0&v=recto&z=1&serie=' + competitionActuelle.url.split('&serie=')[1] | safe"></iframe>
        </figure>
      </div>
    </div>
    <div id="divParticipants" class="is-justify-content-center" style="width: 300px;">
      <button *ngIf="organisationEnCours && !organiserSansParticiper" class="button is-info is-outlined" (click)="organiserSansParticiper = true; set('organiserSansParticiper', true)">Organiser sans participer</button>
      <button *ngIf="organisationEnCours && organiserSansParticiper" class="button is-info" (click)="organiserSansParticiper = false; set('organiserSansParticiper', false)">Tu organises la compétition sans y participer</button>
      <button *ngIf="details && organiserSansParticiper" id="boutonPasserQuestion" class="button is-warning" (click)="PasserQuestion()">Question suivante</button>
      <h1 class="is-size-4 has-text-weight-semibold">Participants</h1>
      <div *ngFor="let participant of competitionActuelle.participants" style="line-height: normal;">
        <div class="is-flex is-justify-content-center is-align-items-center">
          <figure class="avatar mr-2" [style]="dataService.getStyleAvatar(participant)"></figure>
          <span>{{ participant.pseudo }}</span>
          <figure *ngIf="details && participant.aRepondu != null" [ngClass]="{'image is-24x24 ml-2': true, 'has-background-danger': participant.aRepondu == 1, 'has-background-success': participant.aRepondu > 1 }" style="border-radius: 500px;"></figure>
          <i *ngIf="details && participant.question == 999" class="image is-24x24 is-danger"><img src="assets/img/cc0/cross-svgrepo-com.svg" /></i>
        </div>
        <div *ngIf="details && participant.points != null" class="is-size-5 has-text-weight-semibold">{{ participant.points }}</div>
      </div>
    </div>
  </div>
</div>