.eleve-container:not(:empty) {
  margin: 0.2rem 0;
  padding: 0.5rem;
  overflow-x: auto;
}

.eleve {
  padding: 0.5rem;
  background-color:#7dd3fc;
  border-radius: 5px;
  cursor: pointer;
  pointer-events: all;
}

.competence {
  padding: 0.1rem;
  margin: 0.1rem;
  background-color:#fef08a;
  border-radius: 5px;
}
