<div class="container is-max-desktop centre">
  <!-- Menu -->
  <div class="tabs is-medium is-centered">
    <ul class="tabs-menu is-rounded">
      <li><a [ngClass]="{'subtitle is-4 is-tout is-left-side': true, 'is-active': ongletActif === 'tout'}" (click)="ongletActif = 'tout'; filtre.niveau = 'tout'">Tout</a></li>
      <li *ngFor="let ligne of lignesSequencesNormales;">
        <a *ngIf="ligne.niveau !== undefined && ligne.niveau !== 'fin' && ligne.reference === undefined" (click)="ongletActif = ligne.niveau; filtre.niveau = ligne.niveau" [ngClass]="{'is-active': ongletActif === ligne.niveau, 'subtitle is-4': true, 'is-6e': ligne.niveau === '6e', 'is-5e': ligne.niveau === '5e', 'is-4e': ligne.niveau === '4e', 'is-3e is-right-side': ligne.niveau === '3e'}">{{ligne.niveau}}</a>
      </li>
    </ul>
  </div>
  <div class="is-flex is-justify-content-center" style="overflow:scroll">
    <button [ngClass]="{'button is-rounded is-link mb-5 mx-1 is-medium': true, 'is-light': filtre.periode !== null && filtre.periode !== undefined && filtre.periode > 0}" (click)="filtre.periode = 0">Période</button>
    <button [ngClass]="{'button is-rounded is-link mb-5 mx-1 is-medium': true, 'is-light': filtre.periode !== 1}" (click)="filtre.periode === 1 ? filtre.periode = 0 : filtre.periode = 1">1</button>
    <button [ngClass]="{'button is-rounded is-link mb-5 mx-1 is-medium': true, 'is-light': filtre.periode !== 2}" (click)="filtre.periode === 2 ? filtre.periode = 0 : filtre.periode = 2">2</button>
    <button [ngClass]="{'button is-rounded is-link mb-5 mx-1 is-medium': true, 'is-light': filtre.periode !== 3}" (click)="filtre.periode === 3 ? filtre.periode = 0 : filtre.periode = 3">3</button>
    <button [ngClass]="{'button is-rounded is-link mb-5 mx-1 is-medium': true, 'is-light': filtre.periode !== 4}" (click)="filtre.periode === 4 ? filtre.periode = 0 : filtre.periode = 4">4</button>
    <button [ngClass]="{'button is-rounded is-link mb-5 mx-1 is-medium': true, 'is-light': filtre.periode !== 5}" (click)="filtre.periode === 5 ? filtre.periode = 0 : filtre.periode = 5">5</button>
  </div>
  <input style="text-align:center; font-size:x-large ;" type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="texteRecherche" placeholder="Recherche" autofocus>
  <div><br></div>
  <div class="container is-max-desktop centre">
    <!-- Séquences particulières -->
    <div>
      <a routerLink="/sequence/{{ligne.reference}}" routerLinkActive="active" *ngFor="let ligne of lignesSequencesParticulieres | sequencesFilter: texteRecherche; index as i">
        <h1 *ngIf="ligne.niveau !== undefined && ligne.niveau !== 'fin' && ligne.reference === undefined" class="title is-3 p-2 is-tout">{{ligne.niveau}}</h1>
        <p *ngIf="ligne.reference !== undefined" [ngClass]="{'is-tout is-size-5': true, 'is-fin': lignesSequencesParticulieres[i].niveau !== lignesSequencesParticulieres[i + 1].niveau}">
          {{ligne.numero === 0 ? '' : 'Séquence ' + ligne.numero + ' : '}}{{ligne.titre}}<br>
        </p>
      </a>
    </div>
    <!-- Séquences normales -->
    <span *ngFor="let ligne of lignesSequencesNormales | sequencesFilter: texteRecherche; index as i">
      <div *ngIf="ligne.niveau !== undefined && ligne.niveau !== 'fin' && ligne.reference === undefined && (filtre.niveau === undefined || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau)"><br></div>
      <h1 *ngIf="ligne.niveau !== undefined && ligne.niveau !== 'fin' && ligne.reference === undefined && (filtre.niveau === undefined || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau)" [class]="'title is-3 p-2 is-' + ligne.niveau">
        <span class="has-text-white">
          {{ligne.niveau}}
        </span>
      </h1>
      <a routerLink="/sequence/{{ligne.reference}}" routerLinkActive="active" *ngIf="ligne.reference !== undefined && ligne.niveau !== 'fin' && filtre.periode !== null && (ligne.periode === filtre.periode || filtre.periode === undefined || filtre.periode === 0) && (filtre.niveau === undefined || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau)">
        <p [ngClass]="{'p-1 is-size-5': true, 'is-fin': lignesSequencesNormales[i].niveau !== lignesSequencesNormales[i + 1].niveau, 'is-6e': ligne.niveau === '6e', 'is-5e': ligne.niveau === '5e', 'is-4e': ligne.niveau === '4e', 'is-3e': ligne.niveau === '3e'}">
          {{ligne.numero === 0 ? '' : 'Séquence ' + ligne.numero + ' : '}}{{ligne.titre}}
        </p>
      </a>
    </span>
  </div>
</div>