<div class="container is-max-desktop">
  <br>
  Bien que l'hébergeur (OVH) conserve les adresses IP des utilisateurs pour des raisons légales,
    le site n'utilise aucun cookie et ne recueille aucune donnée qu'elle soit personnelle ou non.<br><br>
  Ainsi, les utilisateurs n'étant pas identifiables le <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">RGPD 
    (Règlement Général sur la Protection des Données)</a> qui encadre le traitement des données personnelles sur le territoire de
    l’Union européenne ne s'applique pas.<br><br>
  Les curieux peuvent consulter cette page de la CNIL : <a href="https://www.cnil.fr/fr/rgpd-de-quoi-parle-t-on">RGPD : De quoi parle-t-on ?</a> et les plus pointilleux peuvent voir que
    <a href="https://www.privacy-regulation.eu/fr/1.htm">le paragraphe 1 de l'article 1 du RGPD</a> stipule qu'il porte sur le « traitement des données à caractère personnel » et que
    <a href="https://www.privacy-regulation.eu/fr/4.htm">le paragraphe 1 de l'article 4 du RGPD</a> stipule qu'une « donnée à caractère personnel » est n'importe quelle information se rapportant à une personne physique identifiée ou identifiable.<br>
    Si personne n'est identifiable, il n'y a pas de donnée à caractère personnelle, et donc pas de RGPD.
</div>