<div class="container is-max-desktop">
  En attendant que je prenne le temps de faire ça bien, voici quelques infos :
  <ul>
    <li>- Le site n'utilise aucun cookie</li>
    <li>- Le site ne reccueille aucune information personnelle mais l'hébergeur (OVH) en reccueille certaines,
      il faut que je vérifie lesquelles et si je peux agir dessus.
      De plus, le site utilise des exercices de <a href="https://coopmaths.fr/mathalea.html?">MathALÉA</a>
      et des vidéos de <a href="https://www.youtube.com/">youtube</a> qui sont filtrées par <a href="https://ladigitale.dev/digiplay/#/">Digiplay</a>.
      Il faut que je vérifie les données qui peuvent être reccueillies.
    </li>
    <li>- Les données reccueillies par le site sont :
      <ul>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;- L'identifiant qui sert à se connecter</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;- La date et l'heure approximative de la dernière connexion (les minutes et les secondes ne sont pas enregistrées) qui permettent de vérifier si quelqu'un d'autre s'est connecté avec cet identifiant</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;- Le pseudo généré à partir d'une liste de noms et d'une liste d'adjectifs</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;- Les données pour générer l'avatar (coiffure, couleur etc.)</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;- La dernière séquence visitée pour afficher un raccourci depuis le profil</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;- Le dernier objectif visité pour afficher un raccourci depuis le profil</li>
      </ul>
    </li>
    Remarque : Ni l'hébergeur, ni moi-même ne pouvons faire de lien entre les informations précédentes et les informations qu'il reccueille.
  </ul>
</div>