<!-- Header -->
<div class="tabs is-large is-centered">
  <ul class="tabs-menu">
    <li [ngClass]="{'is-actif': ongletActif === 'accueil'}">
      <a routerLink="/accueil" routerLinkActive="active" class="tabs-menu-link is-warning">
        <i class="image is-48x48"><img src="assets/img/cc0/homepage-svgrepo-com.svg" /></i>
      </a>
    </li>
    <li [ngClass]="{'is-actif': ongletActif === 'sequences' || ongletActif === 'sequence'}">
      <a routerLink="/sequences/tout" routerLinkActive="active" class="tabs-menu-link is-link">
        <i class="image is-48x48"><img src="assets/img/cc0/guest-book-svgrepo-com.svg" /></i>
      </a>
    </li>
    <li [ngClass]="{'is-actif': ongletActif === 'objectifs' || ongletActif === 'objectif'}">
      <a routerLink="/objectifs/tout" routerLinkActive="active" class="tabs-menu-link is-info">
        <i class="image is-48x48"><img src="assets/img/gvalmont/automatismes-regular.svg" /></i>
      </a>
    </li>
    <li [ngClass]="{'is-actif': ongletActif === 'exercices-au-hasard'}">
      <a routerLink="/exercices-au-hasard" routerLinkActive="active" class="tabs-menu-link is-sponsor">
        <i class="image is-48x48"><img src="assets/img/cc0/dice-svgrepo-com.svg" /></i>
      </a>
    </li>
    <li [ngClass]="{'is-actif': ongletActif === 'outils'}">
      <a routerLink="/outils" routerLinkActive="active" class="tabs-menu-link is-green">
        <i class="image is-48x48"><img src="assets/img/cc0/classroom-svgrepo-com.svg" /></i>
      </a>
    </li>
    <li *ngIf="presencePanier" [ngClass]="{'is-actif': ongletActif === 'panier'}">
      <a routerLink="/panier" routerLinkActive="active" class="tabs-menu-link is-fuchsia">
        <i class="image is-48x48"><img src="assets/img/cc0/cart-content-svgrepo-com.svg" /></i>
      </a>
    </li>
  </ul>
</div>
<!-- Affichage principal -->
<router-outlet></router-outlet>
<!-- Footer -->
<div><br><br><br></div>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>topmaths</strong> © 2022 de <a href="https://github.com/gvalmont/" target="_blank" rel="noopener noreferrer">Guillaume Valmont</a>
    </p>
    <p><a routerLink="mentions-legales" routerLinkActive="active">Mentions légales</a> - <a routerLink="politique-de-confidentialite" routerLinkActive="active">Politique de confidentialité</a> - <a routerLink="cgu" routerLinkActive="active">CGU</a></p>
  </div>
</footer>
<div *ngIf="storageService.modeEnseignant" id="overlayHeure" (click)="alternerTailleOverlayHeure()"></div>
<audio id="audioElement">
  <source src="/assets/mp3/BELLHand_Sonnette de velo 2 (ID 0275)_LS.mp3" type="audio/mpeg">
  Votre navigateur ne supporte pas les éléments audio.
</audio>