:root {
  --window-height: 200px;
  --foreground-transform: scale(1, 1);
  --image-equipe: url(/assets/img/gvalmont/blank.svg);
  --image-badge: url(/assets/img/gvalmont/blank.svg);
  --basetout: #feb60a;
  --lighttout: hsl(48, 100%, 96%);
  --base6e: #28a745;
  --light6e: hsl(142, 52%, 96%);
  --base5e: hsl(217, 71%, 53%);
  --light5e: hsl(219, 70%, 96%);
  --base4e: rgb(109 40 217);
  --light4e: rgb(237 233 254);
  --base3e: #e03286;
  --light3e: rgb(252 231 243);
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 21%);
  color: hsl(0, 0%, 21%);
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: smaller;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}


/* html {
  scroll-behavior: smooth;
} */

.title.is-tout, .title.is-6e, .title.is-5e, .title.is-4e, .title.is-3e {
  border-radius: 50px 50px 0px 0px;
  padding: 25px 50px 25px 50px;
  margin-bottom: 0px;
}

.subtitle.is-tout, .subtitle.is-6e, .subtitle.is-5e, .subtitle.is-4e, .subtitle.is-3e {
  margin-bottom: 0px;
}

.is-fin {
  border-radius: 0px 0px 50px 50px;
}

.title.is-tout, .subtitle.is-tout, a.subtitle.is-tout {
  background-color: var(--basetout);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title.is-6e, .subtitle.is-6e, a.subtitle.is-6e {
  background-color: var(--base6e);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title.is-5e, .subtitle.is-5e, a.subtitle.is-5e {
  background-color: var(--base5e);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title.is-4e, .subtitle.is-4e, a.subtitle.is-4e {
  background-color: var(--base4e);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title.is-3e, .subtitle.is-3e, a.subtitle.is-3e {
  background-color: var(--base3e);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.is-tout :not(a), .is-6e :not(a), .is-5e :not(a), .is-4e :not(a), .is-3e :not(a) {
  color: hsl(0, 0%, 21%)
}

.is-tout, .is-tout:not(.title) a, .tabs-menu .subtitle.is-tout:not(:hover):not(.is-active) {
  background-color: var(--lighttout);
  color: var(--basetout);
}

.is-6e, .is-6e:not(.title) a, .tabs-menu .subtitle.is-6e:not(:hover):not(.is-active) {
  background-color: var(--light6e);
  color: var(--base6e);
}

.is-5e, .is-5e:not(.title) a, .tabs-menu .subtitle.is-5e:not(:hover):not(.is-active) {
  background-color: var(--light5e);
  color: var(--base5e);
}

.is-4e, .is-4e:not(.title) a, .tabs-menu .subtitle.is-4e:not(:hover):not(.is-active) {
  background-color: var(--light4e);
  color: var(--base4e);
}

.is-3e, .is-3e:not(.title) a, .tabs-menu .subtitle.is-3e:not(:hover):not(.is-active) {
  background-color: var(--light3e);
  color: var(--base3e);
}

.is-tout.title a, .is-6e.title a, .is-5e.title a, .is-4e.title a, .is-3e.title a {
  color: white;
}

/* Couleur des icônes */
.is-tout i {
  filter: invert(76%) sepia(16%) saturate(6197%) hue-rotate(354deg) brightness(107%) contrast(99%);
}

.is-6e i {
  filter: invert(52%) sepia(26%) saturate(1195%) hue-rotate(81deg) brightness(95%) contrast(94%);
}

.is-5e i {
  filter: invert(35%) sepia(90%) saturate(2748%) hue-rotate(207deg) brightness(95%) contrast(81%);
}

.is-4e i {
  filter: invert(22%) sepia(91%) saturate(2560%) hue-rotate(255deg) brightness(83%) contrast(110%);
}

.is-3e i {
  filter: invert(24%) sepia(75%) saturate(2769%) hue-rotate(313deg) brightness(95%) contrast(83%);
}

.centre {
  text-align: center;
}

.enorme {
  font-size: xx-large;
  width: 185px;
}

.gigantesque {
  font-size: 1000%;
}

.is-width-170 {
  width: 170px;
}

.is-width-130 {
  width: 130px;
}

.p-7 {
  padding: 6rem !important;
}

.p-8 {
  padding: 9rem !important;
}

.cache {
  display: none;
}

.MathJax {
  font-size: 1.8em;
  line-height: 2;
}

.pleinEcran {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.pleinEcran.is-unselectable {
  z-index: 150;
}

.avatar {
  height: 68px;
  width: 48px;
  background-image: var(--image-badge), var(--image-equipe), var(--image-avatar);
  background-position: right bottom, left bottom, center;
  background-size: 24px, 24px, 48px;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.avatar.is-large {
  height: 272px;
  width: 192px;
  background-size: 96px, 96px, 192px;
}

.foregrounds, .backgrounds {
  height: var(--window-height);
  overflow: scroll;
}

#modaleSecureLogin {
  background-color: darkslategray;
}
.bestOf10 i {
  filter: invert(29%) sepia(98%) saturate(796%) hue-rotate(203deg) brightness(101%) contrast(88%);
}
.battleRoyale i {
  filter: invert(37%) sepia(22%) saturate(2463%) hue-rotate(306deg) brightness(107%) contrast(100%);
}

.moveUp {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: moveUp 2s;
}

@keyframes moveUp {
  0% {
    transform: translate(0px, 100%);
  }

  100% {
    transform: translate(0px, 20%);
  }
}

.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}