@import './tailwind-colors.scss';
@import './shared.scss';

$white-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);

.button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  box-shadow: none;

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.interactive {
  @include interactive($topmaths-default, $topmathsdark-default)
}

@mixin button-style($class-name, $main-color, $light-color, $filter) {
  .#{$class-name} {
    &.interactive {
      @include interactive($main-color, $main-color);
    }
    &.button {
      background-color: transparent;
      border-color: #{$main-color};
      color: #{$main-color};
      &.is-full {
        background-color: #{$main-color};
        color: #fff;
        .dark & {
          background-color: $topmathsdark-canvas-default;
          color: $main-color;
        }
        &:focus,
        &:hover,
        &.is-active {
          filter: drop-shadow(0 0 0.15em $main-color);
        }
      }
      &:focus,
      &:hover,
      &.is-active {
        &:not(.is-borderless) {
          background-color: #{$main-color};
          color: #fff;
        }
        .dark & {
          background-color: $topmathsdark-canvas-default;
          color: $main-color;
          text-shadow: 0 0 0.7rem $main-color;
          &:not(.is-borderless) {
            filter: drop-shadow(0 0 0.15em $main-color) drop-shadow(0 0 0.3em $main-color);
          }
        }
      }
      &[disabled] {
        background-color: transparent;
        border-color: #{$main-color};
        box-shadow: none;
        color: #{$main-color};
  
        &:hover,
        &.is-active,
        &:active,
        &:focus {
          color: #fff;
        }
      }
      &.is-light {
        background-color: #{$light-color};
        color: #{$main-color};
        &:hover,
        &.is-active,
        &:active,
        &:focus {
          background-color: #{$main-color};
          color: white;
        }
        .dark & {
          background-color: $topmathsdark-canvas-default;
          border: 1px solid $main-color;
          color: $main-color;
        }
      }
      img {
        filter: $filter;
      }
      &.is-active img {
        filter: $white-filter;
        &.is-borderless {
          filter: $filter
        }
        .dark & {
          color: #{$main-color};
          filter: $filter drop-shadow(0 0 0.4em $main-color);
        }
      }
    }
  }
}

@include button-style('is-sponsor', $is-sponsor-default, $is-sponsor-light, $is-sponsor-filter);
@include button-style('is-fuchsia', $is-fuchsia-default, $is-fuchsia-light, $is-fuchsia-filter);
@include button-style('is-green', $is-green-default, $is-green-light, $is-green-filter);
@include button-style('is-link', $is-link-default, $is-link-light, $is-link-filter);
@include button-style('is-info', $is-info-default, $is-info-light, $is-info-filter);
@include button-style('is-warning', $is-warning-default, $is-warning-light, $is-warning-filter);
@include button-style('is-danger', $is-danger-default, $is-danger-light, $is-danger-filter);
@include button-style('is-purple', $is-purple-default, $is-purple-light, $is-purple-filter);
@include button-style('is-info-darker', $is-info-darker-default, $is-info-darker-default, $is-info-darker-filter);
@include button-style('is-tout', $is-warning-default, $is-warning-light, $is-warning-filter);

@include button-style('is-6e', $is-6e-default, $is-6e-light, $is-6e-filter);
@include button-style('is-5e', $is-5e-default, $is-5e-light, $is-5e-filter);
@include button-style('is-4e', $is-4e-default, $is-4e-light, $is-4e-filter);
@include button-style('is-3e', $is-3e-default, $is-3e-light, $is-3e-filter);
@include button-style('is-tout', $is-tout-default, $is-tout-light, $is-tout-filter);