@import './tailwind-colors.scss';
@import './shared.scss';

@mixin grade-style($class-name, $main-color, $light-color) {
  $main-color-transparent: mix(rgba($main-color, 0), $main-color, 85%);
  .#{$class-name} {
    a:not(:has(.button)) {
      @include interactive($main-color, $main-color, 0.7rem);
      .title,
      .subtitle {
        .dark & {
          background: none;
          background-color: $main-color-transparent;
        }
      }
    }
    .title {
      color: white;
      padding: 0.5rem;
      background-color: $main-color;
      font-weight: 600;
      .dark & {
        color: $main-color;
        background-color: $main-color-transparent;
      }
    }
    .subtitle {
      color: white;
      padding: 0.5rem;
      background-color: $main-color;
      font-weight: 550;
      .dark & {
        color: $main-color;
        background: linear-gradient(to top, $topmathsdark-canvas-default -40%, $main-color-transparent 100%);
      }
    }
    .tooltiptext {
      background-color: $light-color;
      color: $main-color;
      .dark & {
        background-color: $topmathsdark-canvas-default;
        color: $main-color;
        border: 1px solid $main-color;
      }
    }
    &.is-tabs-menu {
      background-color: $light-color;
      color: $main-color;
      .dark & {
        background-color: $topmathsdark-canvas-default;
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;
        border-left: none;
        border-right: none;
        color: $main-color;
      }
      &.is-first {
        border-radius: 1.5rem 0 0 1.5rem;
        .dark & {
          border-left: 1px solid $main-color;
        }
      }
      &.is-last {
        border-radius: 0 1.5rem 1.5rem 0;
        .dark & {
          border-right: 1px solid $main-color;
        }
      }
      &:hover,
      &:focus,
      &.is-active {
        background-color: $main-color;
        color: white;
        .dark & {
          background-color: $topmathsdark-canvas-default;
          color: $main-color;
          text-shadow: 0 0 0.7rem $main-color;
          filter: drop-shadow(0 0 0.15em $main-color) drop-shadow(0 0 0.3em $main-color);
        }
      }
    }
    &.grade-container {
      background-color: $light-color;
      .dark & {
        background-color: $topmathsdark-canvas-default;
        border: 1px solid $main-color;
      }
    }
  }
}
// Keep $class-name in sync with src/topmaths/types/grade.ts StringGrade
// Keep $main-color in sync with index.html .spinner div:nth-child()
@include grade-style('is-6e', #28a745 , #effaf3);
@include grade-style('is-5e', #4e8ef6 , #f1f6ff);
@include grade-style('is-4e', #9f64ff , #f7f1ff);
@include grade-style('is-3e', #da5e75 , #fbf3f4);
@include grade-style('is-tout', #feb60a, #fffbeb);