
@mixin interactive($main-color, $dark-color, $shadow-size: 0.25em) {
  color: #{$main-color};
  .dark & {
    color: #{$dark-color};
    &:hover,
    &:focus {
      filter: drop-shadow(0 0 $shadow-size $dark-color);
    }
  }
}