// Keep in sync with tailwind.config.js colors
$topmaths-default: #ffffff;
$topmaths-link: #0284c7;
$topmaths-canvas-default: #ffffff;
$topmaths-canvas-dark: #f6f6f6;
$topmaths-corpus-default: #1F2429;
$topmaths-corpus-light: #45505b;
$topmaths-corpus-lightest: #6a7c8d;
$topmaths-corpus-dark: #191d21;
$topmaths-corpus-darkest: #131619;

$topmathsdark-default: #000000;
$topmathsdark-link: #0ea5e9;
$topmathsdark-canvas-default: #18181b;
$topmathsdark-canvas-dark: #1f1f24;
$topmathsdark-corpus-default: #b0b0b0;
$topmathsdark-corpus-light: #c8c8c8;
$topmathsdark-corpus-lightest: #dfdfdf;
$topmathsdark-corpus-dark: #7b7b7b;
$topmathsdark-corpus-darkest: #464646;