@use 'sass:color';
@use 'tailwind-colors.scss';

$white-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
  brightness(100%) contrast(100%);

.button {
  background-color: transparent;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  box-shadow: none;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: 2px;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

@mixin interactive($main-color, $dark-color, $filter, $dark-filter: $filter) {
  color: $main-color;

  .is-icon {
    filter: $filter;
  }
}

@mixin theme-style(
  $class-name,
  $main-color,
  $light-color,
  $filter,
  $dark-color: $main-color
) {
  $main-color-transparent: color.mix(rgba($main-color, 0), $main-color, 85%);
  $dark-color-transparent: color.mix(rgba($dark-color, 0), $dark-color, 85%);

  .#{$class-name} {
    border-color: $main-color;

    .is-interactive,
    &.is-interactive {
      @include interactive($main-color, $dark-color, $filter);
    }

    .title {
      color: white;
      background-color: $main-color;
      font-weight: 600;
      padding: 1rem 1rem 0.5rem;

      .is-interactive {
        @include interactive(white, $dark-color, $white-filter, $filter);
      }
    }

    .subtitle {
      color: white;
      background-color: $main-color;
      font-weight: 550;
      padding: 0.5rem 1rem;

      .is-interactive {
        @include interactive(white, $dark-color, $white-filter, $filter);
      }
    }

    .tooltiptext {
      color: $main-color;
      background-color: $light-color;
      border: 1px solid $main-color;
    }

    &.grade-container {
      background-color: $light-color;
    }

    &.button {
      color: $main-color;

      &:focus-visible {
        outline-color: $main-color;
      }

      &:hover,
      &.is-active {
        color: white;
        background-color: $main-color;
      }

      &.is-light {
        background-color: $light-color;

        &:hover,
        &.is-active {
          background-color: $main-color;
        }
      }

      &.is-filter-button:hover:not(.is-active) {
        color: $main-color;
        background-color: $light-color;
        box-shadow: inset 0 0 0 2px $main-color;
      }

      img {
        filter: $filter;
      }

      &.is-active img {
        filter: $white-filter;
      }
    }
  }
}

// Keep $class-name in sync with src/topmaths/types/grade.ts StringGrade and services/color.ts
// Keep $main-color in sync with index.html .spinner div:nth-child()
@include theme-style(
  'is-6e',
  tailwind-colors.$is-6e-default,
  tailwind-colors.$is-6e-light,
  tailwind-colors.$is-6e-filter
);
@include theme-style(
  'is-5e',
  tailwind-colors.$is-5e-default,
  tailwind-colors.$is-5e-light,
  tailwind-colors.$is-5e-filter
);
@include theme-style(
  'is-4e',
  tailwind-colors.$is-4e-default,
  tailwind-colors.$is-4e-light,
  tailwind-colors.$is-4e-filter
);
@include theme-style(
  'is-3e',
  tailwind-colors.$is-3e-default,
  tailwind-colors.$is-3e-light,
  tailwind-colors.$is-3e-filter
);
@include theme-style(
  'is-tout',
  tailwind-colors.$is-tout-default,
  tailwind-colors.$is-tout-light,
  tailwind-colors.$is-tout-filter
);
// end of sync

// Keep $class-name in sync src/topmaths/types/color.ts ButtonColor
// Keep in sync with tailwind-colors.scss and tailwind.config.cjs
@include theme-style(
  'is-topmaths',
  tailwind-colors.$topmaths-default,
  tailwind-colors.$topmaths-light,
  tailwind-colors.$topmaths-filter,
  tailwind-colors.$topmathsdark-default
);
@include theme-style(
  'is-sponsor',
  tailwind-colors.$is-sponsor-default,
  tailwind-colors.$is-sponsor-light,
  tailwind-colors.$is-sponsor-filter
);
@include theme-style(
  'is-fuchsia',
  tailwind-colors.$is-fuchsia-default,
  tailwind-colors.$is-fuchsia-light,
  tailwind-colors.$is-fuchsia-filter
);
@include theme-style(
  'is-green',
  tailwind-colors.$is-green-default,
  tailwind-colors.$is-green-light,
  tailwind-colors.$is-green-filter
);
@include theme-style(
  'is-link',
  tailwind-colors.$is-link-default,
  tailwind-colors.$is-link-light,
  tailwind-colors.$is-link-filter
);
@include theme-style(
  'is-info',
  tailwind-colors.$is-info-default,
  tailwind-colors.$is-info-light,
  tailwind-colors.$is-info-filter
);
@include theme-style(
  'is-warning',
  tailwind-colors.$is-warning-default,
  tailwind-colors.$is-warning-light,
  tailwind-colors.$is-warning-filter
);
@include theme-style(
  'is-danger',
  tailwind-colors.$is-danger-default,
  tailwind-colors.$is-danger-light,
  tailwind-colors.$is-danger-filter
);
@include theme-style(
  'is-purple',
  tailwind-colors.$is-purple-default,
  tailwind-colors.$is-purple-light,
  tailwind-colors.$is-purple-filter
);
@include theme-style(
  'is-info-darker',
  tailwind-colors.$is-info-darker-default,
  tailwind-colors.$is-info-darker-default,
  tailwind-colors.$is-info-darker-filter
);
@include theme-style(
  'is-coopmaths',
  tailwind-colors.$is-coopmaths-default,
  tailwind-colors.$is-coopmaths-light,
  tailwind-colors.$is-coopmaths-filter
);
@include theme-style(
  'is-brown',
  tailwind-colors.$is-brown-default,
  tailwind-colors.$is-brown-light,
  tailwind-colors.$is-brown-filter
);
@include theme-style(
  'is-black',
  tailwind-colors.$is-black-default,
  tailwind-colors.$is-black-light,
  tailwind-colors.$is-black-filter
);
// end of sync
