@import './grades.scss';
@import './buttons.scss';

@media print {
  .noprint,
  .noprint * {
    display: none !important;
    padding: 0;
    margin: 0;
  }
  html, body {
    padding: 0;
    margin: 0;
  }
}
