<div class="container is-max-desktop centre">
  <p>Les objectifs correspondent aux <a href="https://eduscol.education.fr/137/attendus-de-fin-d-annee-et-reperes-annuels-de-progression-du-cp-la-3e">attendus de fin d'année</a>.</p><br>
  <div class="tabs is-medium is-centered">
    <ul class="tabs-menu is-rounded">
      <li><a [ngClass]="{'subtitle is-4 is-tout is-left-side': true, 'is-active': ongletActif === 'tout'}" [routerLink]="['/objectifs/tout']">Tout</a></li>
      <li><a [ngClass]="{'subtitle is-4 is-6e': true, 'is-active': ongletActif === '6e'}" [routerLink]="['/objectifs/6e']">6e</a></li>
      <li *ngFor="let ligne of lignes;">
        <a *ngIf="ligne.niveau !== null && ligne.niveau !== 'fin' && ligne.theme === null" [routerLink]="['/objectifs', ligne.niveau]" [ngClass]="{'is-active': ongletActif === ligne.niveau, 'subtitle is-4': true, 'is-6e': ligne.niveau === '6e', 'is-5e': ligne.niveau === '5e', 'is-4e': ligne.niveau === '4e', 'is-3e is-right-side': ligne.niveau === '3e'}">{{ligne.niveau}}</a>
      </li>
    </ul>
  </div>
  <div class="container is-max-desktop centre">
    <span *ngFor="let ligne of lignes; index as i">
      <div *ngIf="ligne.niveau !== null && ligne.niveau !== 'fin' && ligne.theme === null && (filtre.niveau === null || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau) && i > 0 && (lignes[i].niveau !== lignes[i + 1].niveau || filtre.niveau === 'tout')"><br></div>
      <h1 *ngIf="ligne.niveau !== null && ligne.niveau !== 'fin' && ligne.theme === null && (filtre.niveau === null || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau)" [class]="'title is-2 p-2 is-' + ligne.niveau">{{ligne.niveau}}</h1>
      <h2 *ngIf="ligne.theme !== null && ligne.niveau !== 'fin' && ligne.sousTheme === null && (filtre.niveau === null || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau) && (filtre.theme === null || filtre.theme === ligne.theme)" [class]="'subtitle is-3 pt-2 is-' + ligne.niveau">{{ligne.theme}}</h2>
      <h3 *ngIf="ligne.sousTheme !== null && ligne.sousTheme !== '' && ligne.niveau !== 'fin' && ligne.reference === null && (filtre.niveau === null || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau) && (filtre.theme === null || filtre.theme === ligne.theme) && (filtre.sousTheme === null || filtre.sousTheme === ligne.sousTheme)" [class]="'subtitle is-4 p-4 is-' + ligne.niveau">{{ligne.sousTheme}}</h3>
      <p *ngIf="ligne.reference !== null && ligne.niveau !== 'fin' && (filtre.niveau === null || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau) && (filtre.theme === null || filtre.theme === ligne.theme) && (filtre.sousTheme === null || filtre.sousTheme === ligne.sousTheme)" [ngClass]="{'p-1 is-size-5': true, 'is-fin': lignes[i].niveau !== lignes[i + 1].niveau, 'is-6e': ligne.niveau === '6e', 'is-5e': ligne.niveau === '5e', 'is-4e': ligne.niveau === '4e', 'is-3e': ligne.niveau === '3e'}">
        <a routerLink="/objectif/{{ligne.reference}}" routerLinkActive="active">
          {{ligne.reference}} : {{ligne.titre}}<br>
        </a>
      </p>
    </span>
  </div>
</div>