<div class="container is-max-desktop centre">
  <div class="tabs is-medium is-centered">
    <ul class="tabs-menu is-rounded">
      <li><a [ngClass]="{'subtitle is-4 is-tout is-left-side': true, 'is-active': ongletActif === 'tout'}" (click)="clicFiltre('tout')">Tout</a></li>
      <li *ngFor="let ligne of lignes;">
        <a *ngIf="ligne.niveau !== undefined && ligne.niveau !== 'fin' && ligne.theme === undefined" (click)="clicFiltre(ligne.niveau)" [ngClass]="{'is-active': ongletActif === ligne.niveau, 'subtitle is-4': true, 'is-6e': ligne.niveau === '6e', 'is-5e': ligne.niveau === '5e', 'is-4e': ligne.niveau === '4e', 'is-3e is-right-side': ligne.niveau === '3e'}">{{ligne.niveau}}</a>
      </li>
    </ul>
  </div>
  <div class="is-flex is-justify-content-center" style="overflow:auto">
    <span><button [ngClass]="{'button is-rounded is-link mb-5 mx-1 is-medium': true, 'is-light': filtre.periode !== null && filtre.periode !== undefined && filtre.periode > 0}" (click)="clicFiltre('', 0)">Période</button></span>
    <span *ngFor="let periode of [1, 2, 3, 4, 5]">
      <button [ngClass]="{'button is-rounded is-link mb-5 mx-1 is-medium': true, 'is-light': filtre.periode !== periode}" (click)="clicFiltre('', periode)">{{ periode }}</button>
    </span>
  </div>
  <input style="text-align:center; font-size:x-large ;" type="email" class="form-control" id="search-text" aria-describedby="search-text" [(ngModel)]="texteRecherche" placeholder="Recherche" autofocus>
  <div><br></div>
  <div class="container is-max-desktop centre">
    <span *ngFor="let ligne of lignes | objectifsFilter: texteRecherche; index as i;">
      <div *ngIf="ligne.niveau !== undefined && ligne.niveau !== 'fin' && ligne.theme === undefined && (filtre.niveau === undefined || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau) && i > 0 && (lignes[i].niveau !== lignes[i + 1].niveau || filtre.niveau === 'tout')"><br></div>
      <h1 *ngIf="ligne.niveau !== undefined && ligne.niveau !== 'fin' && ligne.theme === undefined && (filtre.niveau === undefined || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau)" [class]="'title is-2 p-2 is-' + ligne.niveau">{{ligne.niveau}}</h1>
      <h2 *ngIf="ligne.theme !== undefined && ligne.niveau !== 'fin' && ligne.sousTheme === undefined && (filtre.periode === undefined || (filtre.periode !== undefined && (filtre.periode === 0 || ligne.theme.nbObjectifsParPeriode[filtre.periode - 1] > 0))) && (filtre.niveau === undefined || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau) && (filtre.theme === undefined || filtre.theme.nom === ligne.theme.nom)" [class]="'subtitle is-3 pt-2 is-' + ligne.niveau">{{ligne.theme.nom}}</h2>
      <h3 *ngIf="ligne.sousTheme !== undefined && ligne.sousTheme !== '' && ligne.niveau !== 'fin' && ligne.reference === undefined && (filtre.periode === undefined || (filtre.periode !== undefined && (filtre.periode === 0 || ligne.sousTheme.nbObjectifsParPeriode[filtre.periode - 1] > 0))) && (filtre.niveau === undefined || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau) && (filtre.theme === undefined || filtre.theme.nom === ligne.theme.nom) && (filtre.sousTheme === undefined || filtre.sousTheme === ligne.sousTheme.nom)" [class]="'subtitle is-4 p-4 is-' + ligne.niveau">{{ligne.sousTheme.nom}}</h3>
      <a routerLink="/objectif/{{ligne.reference}}" routerLinkActive="active" *ngIf="ligne.reference !== undefined && ligne.niveau !== 'fin' && filtre.periode !== null && (ligne.periode === filtre.periode || filtre.periode === undefined || filtre.periode === 0) && (filtre.niveau === undefined || filtre.niveau === 'tout' || filtre.niveau === ligne.niveau) && (filtre.theme === undefined || filtre.theme.nom === ligne.theme.nom) && (filtre.sousTheme === undefined || filtre.sousTheme === ligne.sousTheme)">
        <p [ngClass]="{'p-1 is-size-5': true, 'is-fin': lignes[i].niveau !== lignes[i + 1].niveau, 'is-6e': ligne.niveau === '6e', 'is-5e': ligne.niveau === '5e', 'is-4e': ligne.niveau === '4e', 'is-3e': ligne.niveau === '3e'}">
          {{ligne.reference}} : {{ligne.titre}}<br>
        </p>
      </a>
    </span>
  </div>
</div>