<div class="columns centre">
  <div class="column is-one-fifth"></div>
  <div class="column is-three-fifths">
    <div class="tabs is-medium is-centered">
      <ul class="tabs-menu is-rounded">
        <li><a [ngClass]="{'subtitle is-4 is-tout is-left-side': true, 'is-active': ongletActif == 'tout'}" [routerLink]="['/objectifs/tout']">Tout</a></li>
        <li><a [ngClass]="{'subtitle is-4 is-6e': true, 'is-active': ongletActif == '6e'}" [routerLink]="['/objectifs/6e']">6e</a></li>
        <li *ngFor="let ligne of lignes;">
          <a *ngIf="ligne.niveau != null && ligne.niveau != 'fin' && ligne.theme == null" [routerLink]="['/objectifs', ligne.niveau]" [ngClass]="{'is-active': ongletActif == ligne.niveau, 'subtitle is-4': true, 'is-6e': ligne.niveau == '6e', 'is-5e': ligne.niveau == '5e', 'is-4e': ligne.niveau == '4e', 'is-3e is-right-side': ligne.niveau == '3e'}">{{ligne.niveau}}</a>
        </li>
      </ul>
    </div>
    <div class="container is-max-desktop">
      <span *ngFor="let ligne of lignes; index as i">
        <h1 *ngIf="ligne.niveau != null && ligne.niveau != 'fin' && ligne.theme == null && (filtre.niveau == null || filtre.niveau == 'tout' || filtre.niveau == ligne.niveau)" [class]="'title is-3 p-2 is-' + ligne.niveau">{{ligne.niveau}}</h1>
        <h2 *ngIf="ligne.theme != null && ligne.niveau != 'fin' && ligne.sousTheme == null && (filtre.niveau == null || filtre.niveau == 'tout' || filtre.niveau == ligne.niveau) && (filtre.theme == null || filtre.theme == ligne.theme)" [class]="'subtitle is-4 pt-2 is-' + ligne.niveau">{{ligne.theme}}</h2>
        <h3 *ngIf="ligne.sousTheme != null && ligne.sousTheme != '' && ligne.niveau != 'fin' && ligne.reference == null && (filtre.niveau == null || filtre.niveau == 'tout' || filtre.niveau == ligne.niveau) && (filtre.theme == null || filtre.theme == ligne.theme) && (filtre.sousTheme == null || filtre.sousTheme == ligne.sousTheme)" [class]="'subtitle is-5 p-4 is-' + ligne.niveau">{{ligne.sousTheme}}</h3>
        <p *ngIf="ligne.reference != null && ligne.niveau != 'fin' && (filtre.niveau == null || filtre.niveau == 'tout' || filtre.niveau == ligne.niveau) && (filtre.theme == null || filtre.theme == ligne.theme) && (filtre.sousTheme == null || filtre.sousTheme == ligne.sousTheme)" [ngClass]="{'p-1': true, 'is-fin': lignes[i].niveau != lignes[i + 1].niveau, 'is-6e': ligne.niveau == '6e', 'is-5e': ligne.niveau == '5e', 'is-4e': ligne.niveau == '4e', 'is-3e': ligne.niveau == '3e'}">
          <a routerLink="/objectif/{{ligne.reference}}" routerLinkActive="active">
            {{ligne.reference}} : {{ligne.titre}}<br>
          </a>
        </p>
        <p *ngIf="lignes[i].niveau != lignes[i + 1].niveau && lignes[i + 1].niveau != 'fin' && (filtre.niveau == null || filtre.niveau == 'tout' || filtre.niveau == ligne.niveau)"><br></p>
      </span>
    </div>
  </div>
  <div class="column is-one-fifth">
    <!-- Utilisateurs connectés -->
    <app-whosonline></app-whosonline>
  </div>
</div>