<div class="columns centre">
  <div class="column">
    <div id="backgrounds" class="backgrounds" (click)="majEmbleme()"></div>
  </div>
  <div class="column">
    <form [formGroup]="angForm" (ngSubmit)="envoi(angForm.value.teamName)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <!-- Nom de l'équipe -->
      <div class="columns is-flex is-align-items-center is-justify-content-center">
        <div class="column"><h1 class="title is-2 has-text-right">TEAM</h1></div>
        <div class="column has-text-left">
        <div class="field is-inline-block">
          <div [ngClass]="{'control has-icons-right is-inline-block': true, 'shake': shake}">
            <!-- Champ en lui-même -->
            <input id='teamName' [ngClass]="{'input is-uppercase is-size-2 has-text-weight-semibold': true, 'is-success': (!errPetitNbChar && !errGrandNbChar && !errSpChar && !defaut && !errNomInterdit && !errDejaPris),
          'is-danger': (errPetitNbChar || errGrandNbChar || errSpChar || errNomInterdit || errDejaPris)}" type="text" formControlName="teamName" autocomplete="off" autocorrect="off" autocapitalize="characters" spellcheck="false" [placeholder]="teamName" size="3">
            <!-- icônes de part et d'autre du champ -->
            <span *ngIf="(!errPetitNbChar && !errGrandNbChar && !errSpChar && !defaut && !errNomInterdit && !errDejaPris)" class="icon is-large is-right filter-grey">
              <i class="image is-24x24">
                <img src="assets/img/cc0/check-svgrepo-com.svg" />
              </i>
            </span>
            <span *ngIf="(errPetitNbChar || errGrandNbChar || errSpChar || errNomInterdit || errDejaPris)" class="icon is-large is-right filter-grey">
              <i class="image is-32x32">
                <img src="assets/img/cc0/warning-exclamation-sign-in-filled-triangle-svgrepo-com.svg" />
              </i>
            </span>
          </div>
        </div>
      </div>
      </div>
      <!-- Indications sous le champ -->
      <div *ngIf="(!errPetitNbChar && !errGrandNbChar && !errSpChar && !defaut && !errNomInterdit && !errDejaPris)" class="has-text-success">C'est parfait !</div>
      <div *ngIf="errPetitNbChar" class="has-text-danger">C'est trop court !</div>
      <div *ngIf="errGrandNbChar" class="has-text-danger">C'est trop long !</div>
      <div *ngIf="errSpChar" class="has-text-danger">N'utilises que des chiffres<br>et des lettres sans accent !</div>
      <div *ngIf="errNomInterdit" class="has-text-danger">Ce nom est interdit !</div>
      <div *ngIf="errDejaPris" class="has-text-danger">Ce nom est déjà pris !</div>
      <br>
      <div class="columns">
        <div class="column">
          <div>Couleur de l'arrière plan</div>
          <input [cpCancelButton]="true" [cpCancelButtonText]="'Annuler'" [cpPosition]="'bottom'" [style.background]="backgroundColor" [colorPicker]="backgroundColor" (colorPickerChange)="majBackgroundColor($event)" />
          <figure (click)="majAleatoire('backgroundColor')" class="image is-32x32 is-inline-block is-clickable">
            <img src="assets/img/cc0/dice-svgrepo-com.svg" />
          </figure>
        </div>
        <div class="column">
          <div>Couleur principale</div>
          <input class="is-inline-block" [cpCancelButton]="true" [cpCancelButtonText]="'Annuler'" [cpPosition]="'bottom-right'" [style.background]="foregroundPrimaryColor" [colorPicker]="foregroundPrimaryColor" (colorPickerChange)="majForegroundPrimaryColor($event)" />
          <figure (click)="majAleatoire('foregroundPrimaryColor')" class="image is-32x32 is-inline-block is-clickable">
            <img src="assets/img/cc0/dice-svgrepo-com.svg" />
          </figure>
        </div>
        <div class="column">
          <div>Couleur secondaire</div>
          <input [cpCancelButton]="true" [cpCancelButtonText]="'Annuler'" [cpPosition]="'bottom'" [style.background]="foregroundSecondaryColor" [colorPicker]="foregroundSecondaryColor" (colorPickerChange)="majForegroundSecondaryColor($event)" />
          <figure (click)="majAleatoire('foregroundSecondaryColor')" class="image is-32x32 is-inline-block is-clickable">
            <img src="assets/img/cc0/dice-svgrepo-com.svg" />
          </figure>
        </div>
      </div>
      <div class="columns is-flex is-align-items-center is-justify-content-center">
        <div class="column">
          Arrière plan aléatoire
          <br><br>
          <figure (click)="majAleatoire('backgroundId')" class="image is-64x64 is-inline-block is-clickable">
            <img src="assets/img/cc0/dice-svgrepo-com.svg" />
          </figure>
        </div>
        <div class="column">
          <div id="embleme" class="embleme"></div>
        </div>
        <div class="column">
          Premier plan aléatoire
          <br><br>
          <figure (click)="majAleatoire('foregroundId')" class="image is-64x64 is-inline-block is-clickable">
            <img src="assets/img/cc0/dice-svgrepo-com.svg" />
          </figure>
        </div>
      </div>
      <div>
        <button type="submit" *ngIf="creation" class="button is-success is-large">Créer la TEAM {{ teamName | uppercase}}</button>
      </div>
    </form>
    <br>
    <div class="credits is-size-7">
      <span>2012 - 2020 ArenaNet, Inc. All rights reserved. NCsoft, the interlocking NC logo, ArenaNet, Arena.net, Guild Wars, Guild Wars Factions, Factions, Guild Wars Nightfall, Nightfall, Guild Wars: Eye of the North, Eye of the North, Guild Wars 2, and all associated logos and designs are trademarks or registered trademarks of NCsoft Corporation. All other trademarks are the property of their respective owners.</span>
      <br><br>
      <span>Emblem Editor originally developed by Kelian B.</span>
    </div>
  </div>
  <div class="column">
    <div id="foregrounds" class="foregrounds" (click)="majEmbleme()"></div>
  </div>
</div>
<div id="parametresEmbleme" class="cache">
  <div id="foregroundId"></div>
  <div id="foregroundPrimaryColor"></div>
  <div id="foregroundSecondaryColor"></div>
  <div id="backgroundId"></div>
  <div id="backgroundColor"></div>
</div>