#modaleExercices{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#loading > img {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  z-index: 200;
  max-width: 300px;
  max-height: 300px;
}

#modal-copy, .modal-copy {
  position: fixed;
  right: 80px;
  top: 35px;
  width: 30px;
  z-index: 150;
}

#modal-cross, .modal-cross {
  position: fixed;
  right: 20px;
  top: 35px;
  width: 30px;
  z-index: 150;
}
