$darkmode-bg-color: #282a36;

@mixin grade-style($class-name, $main-color, $light-color) {
  .#{$class-name} {
    background-color: $light-color;
    a:not(.subtitle *):not(.title *) {
      color: $main-color;

      .dark & {
        &:hover,
        &:focus {
          text-shadow: 0 0 0.7rem $main-color;
        }
      }
    }
    &.title,
    &.subtitle {
      color: white;
      background-color: $main-color;
      .dark & {
        background-color: $darkmode-bg-color;
        color: $main-color;
        border: 1px solid $main-color;
      }
    }
    .tooltiptext {
      background-color: $light-color;
      color: $main-color;

      .dark & {
        background-color: $darkmode-bg-color;
        color: $main-color;
        border: 1px solid $main-color;
      }
    }
    &.is-hoverable {
      background-color: $main-color;
      color: white;
    }
    &.is-hoverable:not(:hover):not(.is-active) {
      background-color: $light-color;
      color: $main-color;
    }
    .dark & {
      background-color: $darkmode-bg-color;
      color: $light-color;
      border-right: 1px solid $main-color;
      border-left: 1px solid $main-color;

      &.is-end {
        border-bottom: 1px solid $main-color;
        border-radius: 0 0 48px 48px;
      }
    }
  }
}
@include grade-style('is-6e', #28a745 , #effaf3);
@include grade-style('is-5e', #3273dc , #eef3fc);
@include grade-style('is-4e', #6d28d9 , #ede9fe);
@include grade-style('is-3e', #e03286 , #fce7f3);
@include grade-style('is-tout', #feb60a, #fffbeb);

@media print {
  .noprint,
  .noprint * {
    display: none !important;
    padding: 0;
    margin: 0;
  }
  html, body {
    padding: 0;
    margin: 0;
  }
}