<div class="container is-max-desktop centre">
  <i class="image is-64x64 is-inline-block"><img src="assets/img/gvalmont/star-left.svg" /></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="image is-128x128 is-inline-block"><img src="assets/img/cc0/crown-with-pointed-tips-svgrepo-com.svg" /></i>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <i class="image is-64x64 is-inline-block"><img src="assets/img/gvalmont/star-right.svg" /></i>
  <h1 class="title is-1">Classement individuel</h1>
  <div *ngFor="let user of dataService.classement; index as i">
    <div class="columns">
      <!-- On fait un tableau à une seule colonne pour que les contenus restent alignés en vue portrait -->
      <div class="column is-flex is-align-items-center is-justify-content-center">
        <!-- Classement -->
        <div class="column is-one-fifth">
          <p *ngIf="i + 1 == 1">
          <figure class="image is-48x48 is-inline-block"><img src="assets/img/gvalmont/top1.svg" /></figure>
          </p>
          <p *ngIf="i + 1 == 2">
          <figure class="image is-48x48 is-inline-block"><img src="assets/img/gvalmont/top2.svg" /></figure>
          </p>
          <p *ngIf="i + 1 == 3">
          <figure class="image is-48x48 is-inline-block"><img src="assets/img/gvalmont/top3.svg" /></figure>
          </p>
          <p *ngIf="i + 1 > 3" class="title is-5 has-text-weight-bold">{{ i + 1 }}</p>
        </div>
        <!-- Avatar -->
        <div class="column is-one-fifth">
          <figure *ngIf="user.pseudo != 'anonyme'" class="avatar image is-48x48 is-inline-block"
          [style]="'--image-avatar: url(' + user.lienAvatar + ');--image-badge:url(assets/img/gvalmont/top' + top(user.classement) + '.svg)'">
          </figure>
          <figure *ngIf="user.pseudo == 'anonyme'" class="avatar image is-48x48 is-inline-block"
          [style]="'--image-avatar: url(assets/img/reshot/user-3294.svg);--image-badge:url(assets/img/gvalmont/top' + top(user.classement) + '.svg)'">
          </figure>
        </div>
        <!-- Pseudo -->
        <div class="column is-two-fifths">
          <div *ngIf="user.pseudo != 'anonyme'" class="is-inline-block">
            <div class="column is-three-fifths">
              <div *ngIf="user.lienTrophees != ''" class="dropdown is-right is-hoverable is-inline-block">
                <div class="dropdown-trigger">
                  <a (click)="voirTropheesPerso(user)">{{user.pseudo}}</a>
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p>Afficher ses trophées</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="user.lienTrophees == ''" class="is-inline-block">{{user.pseudo}}</div>
            </div>
          </div>
          <div *ngIf="user.pseudo == 'anonyme'" class="is-inline-block">
            < anonyme >
          </div>
        </div>
        <!-- Scores -->
        <div class="column is-one-fifth">
          {{user.score}}
        </div>
      </div>
    </div>
  </div>
</div>